<img style="float:left; margin-right: 20px;" src="./assets/img/venturi.png">
<h4 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; color:#808080;display: flex; justify-content: center; font-size: 25px ">Estudio Final</h4>
<hr>
<h4 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; color:#292929;display: flex; justify-content: center; font-size: 25px ">Información financiera adicional</h4>
<br>
<div class="row" style="display: flex; justify-content: center">
    <div class="col-sm-8">
        <div class="form-group; ">
            <div class="card card-body " style="text-align: left; font-family: 'Nunito', sans-serif ">
                <div>
                    <div>
                        <input for="text" class=" form-control" placeholder="Ingreso fijo mensual del solicitante">
                    </div> <br>
                    <div>
                        <input for="text" class=" form-control" placeholder="Otros ingresos mensuales">
                    </div> <br>
                    <div>
                        <input for="text" class=" form-control" placeholder="Gastos mensuales del solicitante">
                    </div><br>
                </div>
            </div>
        </div>
    </div>
</div><br>
<span class="col-sm-15" style="display:flex; justify-content: center">
    <button type="button" data-toggle="modal" data-target="#ModalFinalFinancieros" class="btn btn-danger">ENVIAR</button>
</span>
<span class="col-sm-15" style="display:flex; justify-content: center">
    <a id="botonContinuarFinalFinancieros" href="/#/estudio-preliminar" class="card-link" style="color: #808285;text-decoration-line: underline;display: none">Finalizar</a><br>
</span>
<!--------Modal ------->
<div class="modal fade" tabindex="-1" role="dialog" id="ModalFinalFinancieros">
    <div class="modal-dialog modal-dialog-centered" role="document ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Información exitosa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Su crédito fue <u>APROBADO</u>.<br> Monto aprobado para el crédito: $25,000,000.00<br> Plazo de crédito en meses: 180<br> Tasa de interés para el crédito: 9.2%<br><br> En breves momentos un asesor comercial se contactará con usted.</p>
            </div>
            <div class="modal-footer">
                <span>
                    <button onclick="document.getElementById( 'botonContinuarFinalFinancieros').style.display='block';" type="button" class="btn btn-danger"data-dismiss="modal">Aceptar</button>
                </span>
            </div>
        </div>
    </div>
</div>