<h4 style="display: flex; justify-content: center; color:#00448d; font-family: 'Nunito', sans-serif;font-weight: bold">Información Transaccional</h4>
<br>
<p class="descripcion">
    Funcionalidad que permite consultar las transacciones realizadas en un periodo de tiempo determinado en una de las cuentas depósito o corriente de un cliente del Banco. A continuación encontrará la información transaccional de Alegra y Bancolombia en
    el rango de fechas proporcionado.
</p><br><br>
<div class="row" style="display: flex; justify-content: center">
    <div class="col-sm-8">
        <!----------------------TRANSACCIONES ALEGRA ------------------------>
        <h4 style="display: flex; justify-content: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold">Transacciones Alegra</h4>
        <table class="table table-responsive-sm table-hover table-bordered" style="border-color: #ffffff">
            <thead>
                <tr>
                    <th scope="col" style=" background-color: #00448d;border-color:#00448d;  color:white"><i class="fas fa-check"></i></th>
                    <th scope="col" style=" background-color: #00448d;border-color: #00448d; color:white">Fecha</th>
                    <th scope="col" style=" background-color:#00448d;border-color: #00448d; color:white">Descripción</th>
                    <th scope="col" style=" background-color:#00448d;border-color: #00448d; color:white">Referencia</th>
                    <th scope="col" style=" background-color: #00448d;border-color:#00448d; color:white">Monto</th>
                    <th scope="col" style=" background-color: #00448d;border-color:#00448d;  color:white">Moneda</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>2019/04/01</td>
                    <td>Compra en Multiplex</td>
                    <td>123</td>
                    <td>$650,000.00</td>
                    <td>COP</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>2019/04/05</td>
                    <td>Abono</td>
                    <td>124</td>
                    <td>$300.00</td>
                    <td>COP</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>2019/04/10</td>
                    <td>Retiro</td>
                    <td>125</td>
                    <td>$200,000.00</td>
                    <td>COP</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>2019/04/15</td>
                    <td>Pago telefonia</td>
                    <td>126</td>
                    <td>$35,000.00</td>
                    <td>COP</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>2019/04/20</td>
                    <td>GMF</td>
                    <td>127</td>
                    <td>$-85.00</td>
                    <td>COP</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>2019/04/20</td>
                    <td>GMF</td>
                    <td>127</td>
                    <td>$-85.00</td>
                    <td>COP</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>2019/04/20</td>
                    <td>GMF</td>
                    <td>127</td>
                    <td>$-85.00</td>
                    <td>COP</td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#/transacciones-conciliacion-bancaria" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#/transacciones-conciliacion-bancaria">1</a></li>
                <li class="page-item"><a class="page-link" href="#/transacciones-conciliacion-bancaria">2</a></li>
                <li class="page-item"><a class="page-link" href="#/transacciones-conciliacion-bancaria">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#/transacciones-conciliacion-bancaria">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <!------------------------------------- TRANSACCIONES BANCOLOMBIA ----------------------------------->
    <div class="col-sm-8">
        <h4 style="display: flex; justify-content: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold">Transacciones Bancolombia</h4>
        <table class="table table-responsive-sm table-hover table-bordered" style="border-color: #ffffff">
            <thead>
                <tr>
                    <th scope="col" style=" background-color: #00448d;border-color:#00448d;  color:white"><i class="fas fa-check"></i></th>
                    <th scope="col " style=" background-color: #00448d;border-color: #00448d; color:white">Fecha</th>
                    <th scope="col " style=" background-color:#00448d;border-color: #00448d; color:white">Descripción </th>
                    <th scope="col " style=" background-color:#00448d;border-color: #00448d; color:white">Referencia</th>
                    <th scope="col " style=" background-color: #00448d;border-color:#00448d; color:white">Monto</th>
                    <th scope="col " style=" background-color: #00448d;border-color:#00448d; color:white">Moneda</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>2019/04/01</td>
                    <td>Compra</td>
                    <td>123</td>
                    <td>$200,000.00</td>
                    <td>COP</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>2019/04/05</td>
                    <td>Abono </td>
                    <td>124</td>
                    <td>$500.00</td>
                    <td>COP</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>2019/04/10</td>
                    <td>Retiro sucursal</td>
                    <td>125</td>
                    <td>$100,000.00</td>
                    <td>COP</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>2019/04/15</td>
                    <td>Compra Falabella</td>
                    <td>126</td>
                    <td>$150,000.00</td>
                    <td>COP</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>2019/04/20</td>
                    <td>GMF</td>
                    <td>127</td>
                    <td>$-252.00</td>
                    <td>COP</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>2019/04/20</td>
                    <td>GMF</td>
                    <td>127</td>
                    <td>$-252.00</td>
                    <td>COP</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>2019/04/20</td>
                    <td>GMF</td>
                    <td>127</td>
                    <td>$-252.00</td>
                    <td>COP</td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#/transacciones-conciliacion-bancaria" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#/transacciones-conciliacion-bancaria">1</a></li>
                <li class="page-item"><a class="page-link" href="#/transacciones-conciliacion-bancaria">2</a></li>
                <li class="page-item"><a class="page-link" href="#/transacciones-conciliacion-bancaria">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#/transacciones-conciliacion-bancaria">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div><br>
<span>
    <button (click)="verCuentasConciliacionBancaria()" class="btn btn-primary btn-lg "><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px;
         height: 16px;padding-top: 2px"></i>REGRESAR </button>
     <button (click)="verTransaccionesConciliadas()"class="btn btn-secondary btn-lg ">CONCILIAR </button>
</span>