<h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 34px">API Embargos</h3>
<hr>
<div class="main-container">
    <img src="./assets/img/consulta-estado.PNG" class="img-fluid " alt="Responsive image"><br><br><br><br>
    <img src="./assets/img/respuesta-consulta.PNG" class="img-fluid " alt="Responsive image"><br><br><br>
</div>
<span>
    <button (click) ="verEmbargosDesembargos3()"style="margin-right: 30px" class="btn btn-primary btn-lg "><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px;
    height: 16px;padding-top: 2px"></i>REGRESAR </button>
    <button (click)="VerFamilias()" style="margin-right: 30px" class="btn btn-primary btn-lg"><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px;
    height: 16px;padding-top: 2px"></i>SALIR</button>
</span>