<h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 33px">Familias de Segundo Orden</h3>
<hr>
<h4 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold">Descripción</h4>
<section class="descripcion" style="text-align: left">
    Aqui encontrarás las Familias de API's de segundo orden de la familia Crédito de Vehiculo, las cuales te servirán para realizar un estudio completo para otorgar un crédito de Vehiculo Sufi. Para completar el estudio de crédito de vehiculo, es necesario
    completar correctamente los estudios:<br>
    <ol>
        <li> Estudio Preliminar</li>
        <li> Estudio Final</li>
    </ol>
    Si ocurre algún inconveniente en el proceso. Diríjase a consumir el API de <u>Estudio Manual</u> y realice el proceso pertinente
</section>
<br>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_14.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Estudio Preliminar</h5>
            <p class="card-text">Capacidad que permite el registro de la información para realizar el estudio preliminar para el crédito para véhiculo, registrando los datos básicos del cliente y retornando un identificador único necesario para la radicación de toda la información
                del estudio del crédito</p>
            <br>
            <button (click)="verEstudioPreliminar2()" type="button" class="btn btn-primary"> Ver familia<i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px;
                height: 16px;padding-top: 2px"></i></button>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_12.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Estudio Final</h5>
            <p class="card-text">Capacidad que permite la radicación de la información adicional necesaria para realizar el estudio final del crédito para véhiculo, registrando los datos personales adicionales del solicitante del crédito y teniendo como enlace a los datos
                previos el identificador unico entregado por medio del registro de los datos basicos del cliente.</p>
            <br>
            <button (click)="verEstudioFinalCliente()" type="button" class="btn btn-primary" id="botonEstudioFinal"> Ver familia<i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px;
                    height: 16px;padding-top: 2px"></i></button>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_11.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Estudio Manual</h5>
            <p class="card-text">Capacidad que permite la radicación de la información necesaria para realizar el estudio de crédito nanual para véhiculo, registrando los datos suplementarios del cliente</p>
            <br>
            <button (click)="verEstudioManualSuplementarios()" type="button " class="btn btn-primary"> Ver familia<i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px; height: 16px;padding-top: 2px"></i></button>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
<br><br><br>
<button (click)="verFamilias()" class="btn btn-primary btn-lg"><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px;
    height: 16px;padding-top: 2px"></i>REGRESAR </button>
<br>
<br>
<!---Footer-->
<footer class="detalle-footer" role="contentinfo">
    <div class="region region-footer">
        <div class="region-inner clearfix">
            <div id="block-block-1" class="block block-block no-title odd first last block-count-5 block-region-footer block-1">
                <div class="block-inner clearfix">
                    <div class="block-content content no-title">
                        <div class="footer"><span class="centered_link"><a href="/terms">Terms of use</a> </span><span class="centered_link"><a href="/privacy">Privacy policy</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="img-footer" src="https://development-bancolombiabluemix-dev.developer.us.apiconnect.ibmcloud.com/sites/development-bancolombiabluemix-dev.developer.us.apiconnect.ibmcloud.com/themes/banka_connect_theme/images/logo-bancolombia-footer.svg" alt="">
</footer>