<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
<br>
<img src="./assets/img/welcome.PNG" alt="Responsive image"><br><br><br><br><br>

<form #forma="ngForm">
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Usuario</label>
        <div class="col-sm-10">
            <input id="usuario" name="usuario" class="form-control" placeholder="Ingrese usuario" required>
        </div>
    </div><br><br>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
        <div class="col-sm-10">
            <input id="password" name="password" type="password" class="form-control" placeholder="Ingrese contrasena" required>
        </div>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Recordarme
        </label>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!--<button (click)="verFamilias()" type="submit" style="margin-right: 30px; " class="btn btn-primary btn-small "> ENTRAR </button>-->
    <button [disabled]="!forma.valid" type="submit" class="btn btn-primary btn small" (click)="validarIngreso()">ENTRAR</button>
</form>

</html>