<h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 34px">API Embargos</h3>
<hr>
<div class="main-container">
    <img src="./assets/img/radicacion2.PNG" class="img-fluid " alt="Responsive image"><br><br><br>
    <img src="./assets/img/radicacion3.PNG" class="img-fluid " alt="Responsive image"><br><br><br>
    <img src="./assets/img/demandado.PNG" class="img-fluid " alt="Responsive image">
</div><br><br>
<span>
        <button (click) ="verEmbargosDesembargos()"style="margin-right: 30px; " class="btn btn-primary btn-lg "><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px;
        height: 16px;padding-top: 2px"></i>REGRESAR </button>
        <button (click)="verEmbargosDesembargos3()" type="button" class="btn btn-primary "> SIGUIENTE <i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px;
            height: 16px;padding-top: 2px"></i></button>  
</span>