<h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 34px">API Saldos y Movimientos</h3>
<hr>
<h4 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold">Descripción</h4>
<p class="descripcion">
    La familia de API’s de Saldos y movimientos permite conciliar automáticamente las cuentas de Bancolombia dentro de la plataforma Alegra, al obtener información sobre los saldos y movimientos de forma rápida, automática y en tiempo real.<br><u>Características principales:</u>
    <br>
    <li>Consulta de cuentas de depósito de Bancolombia asociados a un cliente de Alegra.</li>
    <li>Consulta del saldo y movimientos de la cuenta en tiempo real.</li>
    <li>Conciliación de movimientos para un periodo de tiempo personalizado</li>
</p>
<br><br><br>
<span>
    <button (click)="verFamilias()"style="margin-right: 30px" class="btn btn-primary btn-lg "><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px;height: 16px;padding-top: 2px"></i>REGRESAR </button>
    <button type="button "(click)="verAuthConciliacionBancaria()" class="btn btn-primary"> Ingresar <i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px;height: 16px;padding-top: 2px"></i></button>
</span>
<br><br><br>