<h4 style="display: flex; justify-content: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold; font-size:35px">Tus ofertas comerciales</h4>
<hr>
<p class="descripcion">
    A continuación encontrarás ofertas personalizadas que Bancolombia y Despegar tienen para ti
</p><br>
<div class="card-deck">
    <div class="card" style="font-family: 'Nunito', sans-serif ">
        <img class="card-img-top" src="./assets/img/rent-car.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">30% en McDonald's</h5>
            <hr>
            <p class="card-text">No te pierdas este 30% de dcto en McDonald's, pagando con tus tarjetas Débito o Crédito Bancolombia. Aplica T&C.</p>
            <p class="card-text"><small class="text-muted">Oferta válida del 01 al 31 de mayo de 2019</small></p>
            <a class="card-text" href="" style="text-align: left"><small><u>Ver términos y condiciones</u></small></a>

        </div>
    </div>
    <div class="card" style="font-family: 'Nunito', sans-serif ">
        <img class="card-img-top" src="./assets/img/starbucks.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Hasta 50% de descuento en Il forno</h5>
            <hr>
            <p class="card-text">Recibe hasta un 50% de descuento en restaurantes Il forno del país. Aplican terminos y condiciones. Más en www.tiendalego.com.co</p>
            <p class="card-text"><small class="text-muted">Oferta válida hasta el 31 de mayo de 2019</small></p>
            <a class="card-text" href="" style="text-align: left"><small><u>Ver términos y condiciones</u></small></a>

        </div>
    </div>
    <div class="card" style="font-family: 'Nunito', sans-serif ">
        <img class="card-img-top" src="./assets/img/hotel.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">20% Dcto en alojamiento en Hotel Iberostar Cancún</h5>
            <hr>
            <p class="card-text">20% dcto en alojamiento para dos personas en Cancún pagando con tarjetas de crédito Bancolombia. Aplica T&C.</p>
            <p class="card-text"><small class="text-muted">Oferta válida del 27 de abril al 12 de mayo de 2019</small></p>
            <a class="card-text" href="" style="text-align: left"><small><u>Ver términos y condiciones</u></small></a>
        </div>
    </div>
</div><br>
<button (click)="verOfertasComerciales()" class="btn btn-primary btn-lg"><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px;
    height: 16px;padding-top: 2px"></i>CANCELAR </button>