<ul class="nav nav-tabs nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link " href="#/pagonomina3">Enviar Lote de Pago</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#/pagonomina-consultarlote">Consultar estado del lote</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#/pagonomina-consultadetalle">Consultar detalle del lote</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#/pagonomina-consultabeneficiario">Consultar beneficiario</a>
    </li>
</ul><br><br>
<h4 style="display: flex; justify-content: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold">Consulta el estado del lote enviado</h4><br>
<div class="container-consulta-lote" style="display: flex; justify-content: center">
    <form>
        <img id="logofilial" src="./assets/img/nom.jpg" alt="Bancolombia">
        <br>
        <div class="form-group row">
            <div class="col-md-12">
                <input id="password" name="password" type="password" class="form-control" placeholder="CÓDIGO DEL LOTE" required>
            </div>
        </div><br>
        <span class="col-sm-15">
            <button class="btn btn-secondary btn-sm" type="submit" name="approve"  data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Consultar</button>
        </span><br><br><br>
        <div class="collapse" id="collapseExample">
            <div class="alert alert-info" role="alert">
                <strong> El envío del lote de pago se realizó correctamente </strong><br> Fecha de envío del pago: 04/05/2019<br> Valor total pagado: $150,000,000.00<br> Usuario que efectúo el pago: Luis García
            </div>
        </div>
    </form>
</div>