<h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 33px">Detalle Cuenta de Ahorros</h3>
<hr>
<h6 class="animated fadeIn fast" style="font-weight:bold; font-size:20px">Apreciado Cliente</h6>
<br>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body" style="height: 340px"><br>
                <img src="/assets/img/estado-cuenta.PNG" class="center-block"><br><br>
                <h5 class="card-title">Estado de Cuenta</h5>
                <p class="card-text"> DESDE: 2019/01/31 HASTA: 2019/02/28</p>
                <p class="card-text" style="font-weight: bold" style="color:#00448d; font-weight:bold"> CUENTA DE AHORROS</p>
                <ul>
                    <li>Tarjeta débito Bancolombia</li>
                    <li>Tarjeta débito BBVA</li>
                </ul>
            </div>
        </div>
    </div><br><br><br>
    <div class="col-sm-5">
        <div class="card" style=" width: 379px;">
            <div class="card-body" style="
            height: 340px;">
                <img src="/assets/img/saldos-parciales.PNG" class="center-block"><br><br>
                <h5 class="card-title">Saldos Parciales</h5>
                <table class="table table-borderless table-responsive table-sm">
                    <thead>
                        <tr class="saldos-parciales">
                            <th scope="col" style="color:#00448d">BANCO</th>
                            <th scope="col" style="color:#00448d">N° CUENTA </th>
                            <th scope="col" style="color:#00448d">SALDO TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bancolombia</td>
                            <td>6789755635</td>
                            <td>$100,000.00</td>
                        </tr>
                        <tr>
                            <td>BBVA</td>
                            <td>0012131128</td>
                            <td>$100,000.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<table class="table table-responsive-sm table-hover table-bordered " style="border-color: #ffffff">
    <thead>
        <tr>
            <th scope="col " style=" background-color: #00448d;border-color: #00448d; color:white">Fecha</th>
            <th scope="col " style=" background-color:#00448d;border-color: #00448d; color:white">Banco </th>
            <th scope="col " style=" background-color:#00448d;border-color: #00448d; color:white">N° Cuenta</th>
            <th scope="col " style=" background-color: #00448d;border-color:#00448d; color:white">Descripción</th>
            <th scope="col " style=" background-color: #00448d;border-color:#00448d; color:white">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>03/01</td>
            <td>Bancolombia</td>
            <td>*5635</td>
            <td>Compra en Multiplex</td>
            <td>$-13,950.00</td>
        </tr>
        <tr>
            <td>03/01</td>
            <td>BBVA</td>
            <td>*1128</td>
            <td>Abono intereses ahorro</td>
            <td>$252.00</td>
        </tr>
        <tr>
            <td>03/01</td>
            <td>Bancolombia</td>
            <td>*5635</td>
            <td>Retiro cajero autoservicios</td>
            <td>$-10,000.00</td>
        </tr>
        <tr>
            <td>10/01</td>
            <td>BBVA</td>
            <td>*1128</td>
            <td>Compra por internet</td>
            <td>$20,000.00</td>
        </tr>
        <tr>
            <td>03/01</td>
            <td>Bancolombia</td>
            <td>*5635</td>
            <td>Retiro cajero autoservicios</td>
            <td>$-10,000.00</td>
        </tr>
        <tr>
            <td>10/01</td>
            <td>BBVA</td>
            <td>*1128</td>
            <td>Compra por internet</td>
            <td>$20,000.00</td>
        </tr>
        <tr>
            <td>10/01</td>
            <td>BBVA</td>
            <td>*1128</td>
            <td>Compra en ilforno</td>
            <td>$20,000.00</td>
        </tr>
        <tr>
            <td>10/01</td>
            <td>BBVA</td>
            <td>*1128</td>
            <td>Compra en cosechas</td>
            <td>$20,000.00</td>
        </tr>
        <tr>
            <td>03/01</td>
            <td>Bancolombia</td>
            <td>*5635</td>
            <td>Retiro cajero autoservicios</td>
            <td>$-10,000.00</td>
        </tr>
    </tbody>
</table>
<br>
<span>
    <button type="button" class="Previous"><i class="fas fa-angle-left"></i></button>
    <button type="button" class="Next" style="margin-left: 30px;"><i class="fas fa-angle-right"></i></button>
</span><br><br>
<button (click)="verDetalleExtracto()" class="btn btn-primary btn-lg"><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px;
    height: 16px;padding-top: 2px"></i>REGRESAR </button>
<br><br>