<img style="float:left; margin-right: 20px;" src="./assets/img/venturi.png">
<h4 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; color:#808080;display: flex; justify-content: center; font-size: 25px ">Estudio Preliminar</h4>
<hr>
<h5 class="card-title" style="color: #292929; font-weight: bold">Información del Comercio</h5>

<!------------------- INFORMACION DEL COMERCIO ---------------------->
<div class="row" style="display: flex; justify-content: center">
    <div class="col-sm-8">
        <div class="form-group">
            <div class="card card-body" style="text-align: left; font-family: 'Nunito', sans-serif">
                <div>
                    <input for="text" class=" form-control" name="identificacion" placeholder="Código de la oficina del concesionario" NgModel>
                </div><br>
                <div>
                    <input for="text" class=" form-control" placeholder="Documento de identificación del vendedor">
                </div><br>
                <div>
                    <label>¿Crédito por medio de una feria?</label>
                    <label style="margin-left: 10px;">Si </label><input onclick="feria.disabled=false" type="radio" name="isFeria"> <label style="margin-left: 10px;">No </label><input onclick="feria.disabled=true" name="isFeria" type="radio">
                </div>
                <div>
                    <input for="text" id="feria" disabled="disabled" class=" form-control" placeholder="¿Cual Feria?">
                </div>
            </div>
        </div><br>
        <span class="col-sm-15" style="display:flex; justify-content: center">
            <button type="button" data-toggle="modal" data-target="#exampleModalcomercio" class="btn btn-danger">ENVIAR</button>
            <button (click)="verEstudioPreliminarActividad()"style="display: none; margin-left: 20px" id="botonContinuarComercio"type="button" data-toggle="modal" data-target="#exampleModalLong " class="btn btn-danger">CONTINUAR</button>
        </span>
    </div>

    <!-------- MODAL -------->
    <div class="modal fade" tabindex="-1" role="dialog" id="exampleModalcomercio">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Información exitosa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¡Los campos se guardaron exitosamente!</p>
                    <p>Se puede continuar con el proceso</p>
                </div>
                <div class="modal-footer">
                    <span>
                        <button onclick="document.getElementById('botonContinuarComercio').style.display='block';" type="button" class="btn btn-danger"data-dismiss="modal">Aceptar</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>