<!----NAV BAR-------->
<nav role="navigation" class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="#/ofertas-comerciales">
        <img class="imgIcon" src="assets/img/despegar.PNG" width="250" height="70" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-ofertas-comerciales" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> 
    </button>
    <div class="collapse navbar-collapse" id="navbar-ofertas-comerciales">
        <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" routerLinkActive="active">
                <a style="color:#6307F2;font-weight: bold; font-size:18px; font-family:'Nunito', sans-serif "><i class="fas fa-user 2x"></i> Iniciar sesión </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a style="color:#6307F2;font-weight: bold; font-size:18px; font-family:'Nunito', sans-serif; margin-left: 15px;"><i class="fas fa-question-circle 2x"></i> Ayuda </a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div>
    <img class="d-block w-100" src="./assets/img/despegar-img2.jpg" alt="First slide">
</div><br><br>
<h4 style="display: flex; justify-content: center; color:#6307F2; font-family: 'Nunito', sans-serif;font-weight: bold; font-size:35px"><i class="far fa-bell" style="margin-right: 10px;"></i>Tus ofertas comerciales</h4>
<br>
<!-------------------------carrusel--------------------------------------------------------->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="./assets/img/carrusel-1.JPG" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="./assets/img/carrusel-2.JPG" alt="Second slide">
        </div>
    </div>
</div>
<br>
<button (click)="verFamilias()" class="btn btn-primary btn-lg "><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px; height: 16px;padding-top: 2px"></i>SALIR </button><br>