<div class="main-container"><br>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="list-group" id="list-tab" role="tablist">
                    <div class="card-body" style=" height: 300px;">
                        <img style="padding-left:80px" src="/assets/img/cuentas.PNG" class="center-block"><br>
                        <h5 class="card-title">Cuentas depósito</h5><br>
                        <h6 class="card-subtitle mb-2 text-muted" style="font-weight:bold">Ver detalle</h6>
                        <p class="card-text">Ver el detalle de la información de tus cuentas depósito</p><br>
                    </div>
                    <a id="list-first-list" data-toggle="list" href="#list-first" role="tab" aria-controls="first" style="color:#808285;text-decoration-line: underline;cursor:pointer">Cuenta de Ahorros</a>
                    <a id="list-second-list" data-toggle="list" href="#list-second" role="tab" aria-controls="second" style="color:#808285;text-decoration-line: underline;cursor:pointer">Cuenta Corriente</a><br>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div style=" font-family: 'Nunito', sans-serif;" class="tab-pane fade" id="list-first" role="tabpanel" aria-labelledby="list-first-list">
                    <h4 style="display: flex; justify-content: center; color:#00448d; font-family: 'Nunito', sans-serif;font-weight: bold">Información de cuenta</h4>
                    <br>
                    <div class="col-sm-7">
                        <ul>
                            <li>
                                Tipo de cuenta: Deposito - Cuenta de ahorros
                            </li>
                            <li>
                                Número de la cuenta: 24566678956
                            </li>
                            <li>
                                Cuota de sobregiro: $200.00
                            </li>
                            <li>
                                Saldo disponible: $3,000,000.00
                            </li>
                            <li>
                                Saldo disponible por cobrar: $1,000,000.00
                            </li>
                            <li>
                                Saldo bloqueado: $0
                            </li><br>
                            <h6><u>Busca tus transacciones</u></h6>
                            <p style="color: #808080; font-size: 14px;">Elige un rango de fechas para ver tus transacciones con Bancolombia y Alegra</p>
                        </ul>
                    </div>
                    <div style="display: flex; justify-content: left;">
                        <div class="col-sm-8">
                            <br><label>Fecha mínima </label> <input class="form-control" type="date"> <label>Fecha máxima</label> <input class="form-control" type="date"><br>
                            <button (click)="verTransaccionesConciliacionBancaria()" type="submit" class="btn btn-secondary">CONSULTAR</button>
                        </div>
                    </div>
                </div>
                <!----------------------------- CUENTA CORRIENTE ------------------------------------>
                <div style="font-family: 'Nunito', sans-serif;" class="tab-pane fade" id="list-second" role="tabpanel" aria-labelledby="list-second-list">
                    <h4 style="display: flex; justify-content: center; color:#00448d; font-family: 'Nunito', sans-serif;font-weight: bold">Información de cuenta</h4>
                    <br>
                    <div class="col-sm-7">
                        <ul>
                            <li>
                                Tipo de cuenta: Deposito - Cuenta corriente
                            </li>
                            <li>
                                Número de la cuenta: 12136667895
                            </li>
                            <li>
                                Cuota de sobregiro: $130.00
                            </li>
                            <li>
                                Saldo disponible: $2,500,000.00
                            </li>
                            <li>
                                Saldo disponible por cobrar: $500,000.00
                            </li>
                            <li>
                                Saldo bloqueado: $0
                            </li><br>
                            <h6><u>Busca tus transacciones</u></h6>
                            <p style="color: #808080; font-size: 14px;">Elige un rango de fechas para ver tus transacciones con Bancolombia y Alegra</p>
                        </ul>
                    </div>
                    <div style="display: flex; justify-content: left;">
                        <div class="col-sm-8">
                            <br><label>Fecha mínima </label> <input class="form-control" type="date"> <label>Fecha máxima</label> <input class="form-control" type="date"><br>
                            <button (click)="verTransaccionesConciliacionBancaria()" type="submit" class="btn btn-secondary">CONSULTAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br><br>
    <button (click)="verAuthConciliacionBancaria()" class="btn btn-primary btn-lg "><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px;
        height: 16px;padding-top: 2px"></i>REGRESAR </button>