<h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 33px">Representación Gráfica</h3>
<hr>
<h4 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold">Descripción</h4>
<p class="animated fadeIn fast" style=" font-family: 'Nunito', sans-serif;"> Las siguientes gráficas representan la actividad financiera extraída de los informes bancarios proporcionados, con el fin de brindar un mayor entendimiento.</p>
<br>
<!--------Contenedores para las graficas---------------->

<div id="contenedor-actividad-financiera" style="min-width: 310px; height: 400px; margin: 0 auto"> </div><br><br><br>
<div id="contenedor-productos-por-banco" style="min-width: 310px; height: 400px; margin: 0 auto"> </div><br><br><br>
<div id="contenedor-ingresos-por-mes" style="min-width: 310px; height: 400px; margin: 0 auto"></div><br><br>
<div id="contenedor-egresos-por-mes" style="min-width: 310px; height: 400px; margin: 0 auto"></div><br>
<button (click)="verDetalleExtracto()" class="btn btn-primary btn-lg "><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px;height: 16px;padding-top: 2px"></i>REGRESAR </button>
<br>
<br>