<h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 33px">Familias de Segundo Orden</h3>
<hr>
<h4 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold">Descripción</h4>
<section class="animated fadeIn fast">
    Aqui encontrarás las Familias de API's de segundo orden de la Familia Requerimientos Legales, las cuales podrá utilizar como mejor se acomode a sus necesidades o a las necesidades de su empresa</section>
<br>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="./assets/img/product_14.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Ofertas comerciales</h5>
                <p class="card-text">APIs que brindan la oportunidad de agregación de documentos</p>
                <br>
                <button (click)="verOfertasComerciales()" type="button " class="btn btn-primary "> Ver familia<i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px; height: 16px;padding-top: 2px"></i></button>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="./assets/img/product_13.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Ofertas financieras</h5>
                <p class="card-text">APIs que brindan la oportunidad de agregación de documentos</p>
                <br>
                <button type="button" class="btn btn-opacity"> Ver familia<i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px; height: 16px;padding-top: 2px"></i></button>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<br><br>
<button (click)="verFamilias()" class="btn btn-primary btn-lg"><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px;
    height: 16px;padding-top: 2px"></i>REGRESAR </button>
<br>
<br>
<footer class="detalle-footer" role="contentinfo">
    <div class="region region-footer">
        <div class="region-inner clearfix">
            <div id="block-block-1" class="block block-block no-title odd first last block-count-5 block-region-footer block-1">
                <div class="block-inner clearfix">
                    <div class="block-content content no-title">
                        <div class="footer"><span class="centered_link"><a href="/terms">Terms of use</a> </span><span class="centered_link"><a href="/privacy">Privacy policy</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="img-footer" src="https://development-bancolombiabluemix-dev.developer.us.apiconnect.ibmcloud.com/sites/development-bancolombiabluemix-dev.developer.us.apiconnect.ibmcloud.com/themes/banka_connect_theme/images/logo-bancolombia-footer.svg" alt="">
</footer>