<h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 33px">Familias de Primer Orden </h3>
<hr>
<h4 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold">Descripción</h4>
<p class="animated fadeIn fast" style="color: #292929">Aquí encontrarás, teniendo en cuenta su afinidad funcional, una variedad de Familias de API's con las que se han desarrollado ideas innovadoras, para que puedas evidenciar el potencial que tenemos para brindarte por medio de las API's.</p>
<br>
<br>
<br>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_14.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="font-family: 'Nunito', sans-serif">Información de Cliente</h5>
            <p class="card-text">APIs que brindan analitica para tu negocio.</p>
            <br>
            <button (click)="VerFamiliaAnalitica()" type="button" class="btn btn-primary"> Ver familia<i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px;
                height: 16px;padding-top: 2px"></i></button>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_01.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="font-family: 'Nunito', sans-serif">Seguros</h5>
            <p class="card-text">Esta API contiene información de los seguros que usted puede obtener</p>
            <br>
            <button (click)="verFamiliaSeguros()" class="btn btn-primary" type=" button"> Ver familia<i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px;
                height: 16px;padding-top: 2px"></i></button>
            <p class="card-text "><small class="text-muted ">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_13.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="font-family: 'Nunito', sans-serif">Credito de vehículo</h5>
            <p class="card-text">Realiza el estudio para el crédito de vehiculo Sufi</p>
            <br>
            <button (click)="verEstudioPreliminar()" type="button" class="btn btn-primary"> Ver familia<i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px;
                height: 16px;padding-top: 2px"></i></button>
            <p class="card-text"><small class="text-muted ">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
<br>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_11.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="font-family: 'Nunito', sans-serif">Saldos y movimientos</h5>
            <p class="card-text">APIs para la información de las cuentas de nuestros clientes, asi tendrás clara la información más relevante </p>
            <br>
            <button type="button" (click)="VerConciliacionBancaria()" class="btn btn-primary"> Ver familia<i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px;
                height: 16px;padding-top: 2px"></i></button>
            <p class="card-text"><small class="text-muted ">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_12.png " alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="font-family: 'Nunito', sans-serif">Ofertas personalizadas</h5>
            <p class="card-text">Aqui información sobre el API de ofertas personalizadas, realiza tus pagos desde el exterior de forma segura</p>
            <br>
            <button (click)="verOfertasPersonalizadas()" type="button" class="btn btn-primary"> Ver familia<i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px;
                height: 16px;padding-top: 2px"></i></button>
            <p class="card-text"><small class="text-muted ">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_09.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="font-family: 'Nunito', sans-serif">Requerimientos Legales</h5>
            <p class="card-text">APIs que brindan capacidades para que realices tus procesos de embargos y desembargos.</p>
            <br>
            <button type="button" (click)="verFamiliaRequerimientos()" class="btn btn-primary"> Ver familia<i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px;
                height: 16px;padding-top: 2px"></i></button>
            <p class="card-text"><small class="text-muted ">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div><br>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_01.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="font-family: 'Nunito', sans-serif">Pagos</h5>
            <p class="card-text">APIs que brindan capacidades para realizar el pago de nómina a tus empleado o beneficiarios</p>
            <br>
            <button type="button" (click)="verFamiliaPagos()" class="btn btn-primary"> Ver familia<i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px;
                        height: 16px;padding-top: 2px"></i></button>
            <p class="card-text"><small class="text-muted ">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_14.png " alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="font-family: 'Nunito', sans-serif">Vinculación Digital</h5>
            <p class="card-text">Aqui información sobre el API de ofertas personalizadas, realiza tus pagos desde el exterior de forma segura</p>
            <br>
            <button (click)="verVinculacionDigital()" type="button" class="btn btn-primary"> Ver familia<i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px;
                        height: 16px;padding-top: 2px"></i></button>
            <p class="card-text"><small class="text-muted ">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_09.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="font-family: 'Nunito', sans-serif">Cuentas</h5>
            <p class="card-text">APIs que brindan capacidades para que realices tus procesos de embargos y desembargos.</p>
            <br>
            <button type="button" class="btn btn-opacity"> Ver familia<i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px;
                        height: 16px;padding-top: 2px"></i></button>
            <p class="card-text"><small class="text-muted ">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
<br><br><br>
<footer class="detalle-footer" role="contentinfo">
    <div class="region region-footer">
        <div class="region-inner clearfix">
            <div id="block-block-1" class="block block-block no-title odd first last block-count-5 block-region-footer block-1">
                <div class="block-inner clearfix">
                    <div class="block-content content no-title">
                        <div class="footer"><span class="centered_link"><a href="https://www.grupobancolombia.com/wps/portal/personas/condiciones-de-uso">Terms of use</a> </span><span class="centered_link"><a href="https://www.grupobancolombia.com/wps/portal/personas/documentos-legales">Privacy policy</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="img-footer" src="https://development-bancolombiabluemix-dev.developer.us.apiconnect.ibmcloud.com/sites/development-bancolombiabluemix-dev.developer.us.apiconnect.ibmcloud.com/themes/banka_connect_theme/images/logo-bancolombia-footer.svg" alt="">
</footer>