<h4 style="display: flex; justify-content: center; color:#00448d; font-family: 'Nunito', sans-serif;font-weight: bold">Conciliación Bancaria</h4>
<hr>
<br>
<div class="row" style="display: flex; justify-content: center">
    <div class="col-sm-8">
        <table class="table table-responsive-sm table-hover table-bordered" style="border-color: #ffffff">
            <thead>
                <tr>
                    <th scope="col" style=" background-color: #00448d;border-color: #00448d; color:white">Fecha</th>
                    <th scope="col" style=" background-color:#00448d;border-color: #00448d; color:white">Descripción</th>
                    <th scope="col" style=" background-color:#00448d;border-color: #00448d; color:white">Referencia</th>
                    <th scope="col" style=" background-color: #00448d;border-color:#00448d; color:white">Monto</th>
                    <th scope="col" style=" background-color: #00448d;border-color:#00448d;  color:white">Moneda</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2019/04/01</td>
                    <td>Compra en Multiplex</td>
                    <td>123</td>
                    <td>$650,000.00</td>
                    <td>COP</td>
                </tr>
                <tr>
                    <td>2019/04/01</td>
                    <td>Compra en Cinemark</td>
                    <td>123</td>
                    <td>$650,000.00</td>
                    <td>COP</td>
                </tr>
            </tbody>
        </table>
    </div>
</div><br><br><br><br><br><br><br><br>
<span>
    <button (click)="verTransaccionesConciliacionBancaria()" style="margin-right: 30px" class="btn btn-primary btn-lg"><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px;
            height: 16px;padding-top: 2px"></i>REGRESAR </button>
    <button (click)="verFamilias()" type="button" class="btn btn-primary"> SALIR <i class="fas fa-angle-left" style="float:left;color:#454648; width: 10px;
    height: 16px;padding-top: 2px"></i></button>
</span>