<h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 33px">Detalle Cuenta Corriente</h3>
<hr>
<h6 class="animated fadeIn fast" style="font-weight:bold; font-size:20px">Apreciado Cliente</h6>
<br>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body" style="height: 340px;">
                <img src="/assets/img/estado-cuenta.PNG" class="center-block"><br><br>
                <h5 class="card-title">Estado de Cuenta</h5>
                <p class="card-text"> DESDE: 2019/01/31 HASTA: 2019/02/28</p>
                <p class="card-text" style="font-weight: bold;color:#00448d"> CUENTA CORRIENTE</p>
                <ul>
                    <li>Tarjeta débito Banco Bogotá</li>
                    <li>Tarjeta débito Banco Occidente</li>
                </ul>
            </div>
        </div>
    </div><br><br><br>
    <div class="col-sm-6">
        <div class="card" style="width: 382px">
            <div class="card-body" style="
            height: 340px;
            width: 390px">
                <img src="/assets/img/saldos-parciales.PNG" class="center-block"><br><br>
                <h5 class="card-title">Saldos Parciales</h5>
                <div class="col-sm-10">
                    <table class="table table-borderless table-sm">
                        <thead>
                            <tr class="saldos-parciales">
                                <th scope="col " style="color:#00448d">BANCO</th>
                                <th scope="col " style="color:#00448d">N° CUENTA </th>
                                <th scope="col " style="color:#00448d">SALDO TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Banco Bogotá</td>
                                <td>6789751234</td>
                                <td>$500,000.00</td>
                            </tr>
                            <tr>
                                <td>Banco Occidente</td>
                                <td>6789755678</td>
                                <td>$800,000.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<table class="table table-responsive-sm table-hover table-bordered " style="border-color: #ffffff">
    <thead>
        <tr>
            <th scope="col" style=" background-color: #00448d;border-color: #00448d; color:white">Fecha</th>
            <th scope="col" style=" background-color:#00448d;border-color: #00448d; color:white">Banco </th>
            <th scope="col" style=" background-color:#00448d;border-color: #00448d; color:white">N° Cuenta</th>
            <th scope="col" style=" background-color: #00448d;border-color:#00448d; color:white">Descripción</th>
            <th scope="col" style=" background-color: #00448d;border-color:#00448d; color:white">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>02/01</td>
            <td>Banco de Bogotá</td>
            <td>*1234</td>
            <td>Consignación</td>
            <td>$ 20,000.00</td>
        </tr>
        <tr>
            <td>02/01</td>
            <td>Banco de Occidente</td>
            <td>*5678</td>
            <td>Gravamen Movimientos financieros</td>
            <td>$-296.00</td>
        </tr>
        <tr>
            <td>15/01</td>
            <td>Banco de Bogotá</td>
            <td>*1234</td>
            <td>Retiro cajero parque Lleras</td>
            <td>$-20,000.00</td>
        </tr>
        <tr>
            <td>20/01</td>
            <td>Banco de Occidente</td>
            <td>*5678</td>
            <td>Abono interes ahorro</td>
            <td>$50.00</td>
        </tr>
        <tr>
            <td>22/01</td>
            <td>Banco de Occidente</td>
            <td>*5678</td>
            <td>Retiro corresponsal bancario</td>
            <td>$-14,000.00</td>
        </tr>
        <tr>
            <td>15/01</td>
            <td>Banco de Bogotá</td>
            <td>*1234</td>
            <td>Retiro cajero parque Lleras</td>
            <td>$-20,000.00</td>
        </tr>
        <tr>
            <td>22/01</td>
            <td>Banco de Occidente</td>
            <td>*5678</td>
            <td>Retiro corresponsal bancario</td>
            <td>$-14,000.00</td>
        </tr>
        <tr>
            <td>22/01</td>
            <td>Banco de Occidente</td>
            <td>*5678</td>
            <td>Retiro corresponsal bancario</td>
            <td>$-14,000.00</td>
        </tr>
    </tbody>
</table>
<span>
     <button type="button" class="Previous"><li class="fas fa-angle-left"></li></button>
     <button type="button" class="Next" style="margin-left: 30px;"><li class="fas fa-angle-right"></li></button>
</span><br><br>
<button (click)="verDetalleExtracto()" class="btn btn-primary btn-lg "><li class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px;height: 16px;padding-top: 2px"></li>REGRESAR </button><br><br>