<!DOCTYPE html>
<h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 33px">Carga de extractos bancarios</h3>
<h6 class="animated fadeIn fast"> A continuación selecciona tus extractos bancarios y cárgalos.</h6><br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 20px; text-align: center; color:#00448d">Selecciona tus extractos</h4>
            <input type="file" multiple accept="application/pdf" ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)" style="width: 250px;" />
        </div>
        <br><br><br><br>
        <div class="col-md-12" style="margin-bottom: 40px">
            <table class="table table-responsive-lg table-hover">
                <thead>
                    <tr>
                        <th width="50%" class="label" scope="col" style="width: 253px;height: 45px; border-color:#ffffff">Nombre de archivo</th>
                        <th width="50%" class="label" scope="col" style="width: 253px;height: 45px;border-color:#ffffff">Carga o elimina</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td>{{ item?.file?.name }}</td>

                        <td nowrap>
                            <button type="button" class=" btn buttonCargaPrimary btn-sm" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> CARGAR
                            </button>
                            <button type="button" class="btn buttonCargaSecondary btn-sm" (click)="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> ELIMINAR
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br><br><br>
            <div>
                <div>
                    <h6 style="text-align:center; font-size: 18px">
                        ¡Archivos cargados correctamente!
                    </h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" style="width: 20%" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br> <span>
<button (click)="verFamiliaAgregacion()" class="btn btn-primary btn-lg"><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px;
    height: 16px;padding-top: 2px"></i>REGRESAR</button>
<button (click)="verEnvioDocumentosPyme()" class="btn btn-primary btn-lg" style="margin-left: 10px">SIGUIENTE<i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px;
    height: 16px;padding-top: 2px"></i></button>
</span><br><br><br>