<h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 34px">API Estudio crédito de vehículo</h3>
<hr>
<h4 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold">Descripción</h4>
<p class="descripcion">
    Capacidad que permite el registro de la información para realizar el estudio preliminar de crédito para véhiculo. Los pasos a seguir en este proceso son:
    <li>La solución se debe autenticar en la plataforma de APIs de Bancolombia.</li>
    <li>La solución debe presentar los formularios para la captura de la información para realizar las validaciones  Pre-Bureau,  Bureau y las que apliquen para realizar el estudio preliminar al solicitante del crédito de vehículos, lo cuales estan definidas
        en los siguientes requerimientos de integración: </li>
    <strong>a.</strong> Datos básicos del cliente (RI1-Basic Customer Data) con la cual se capturan los datos basicos del cliente que va adquirir el crédito de vehículo para  realizar el estudio preliminar, donde se genera un identificador único con el
    cual se enlazará todos los datos a registrar con las siguientes interfaces definidas.<br> d. Datos del vehículo a comprar (RI2-Vehicle Information) con la cual se capturan los datos generarles del vehículo a adquirir y la categorización del mismo.<br>    e. Datos del comercio donde se adquiere el vehículo (RI3-Commerce Information) con la cual se capturan los datos del comercio si aplica o los valores por defecto que se asignarán según el canal.<br> b. Datos correspondientes a la actividad económica.
    (RI4-Economic Activity Customer) con la que se capturan datos principales de la actividad economica del cliente que va adquirir el crédito de vehículo.
    <li>Una vez realizado este registro de datos preliminares, se entrega una respuesta de si es válido o no continuar con el estudio del crédito, basado en el proceso de validacion de Pre-bureau y Bureau, donde para el backend, ya se contaría con un numero
        de radicación para el estudio del crédito, invocando los requerimientos de integración de la familia de Estudio Final (Vehicle_Credit_Final_Study)</li>
</p><br><br><br>
<span>
  <button (click)="verEstudioPreliminar()" style="margin-right: 30px" class="btn btn-primary btn-lg"><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px;
  height: 16px;padding-top: 2px"></i>REGRESAR </button>
  <button (click)="verEstudioPreliminarCliente()" type="button" class="btn btn-primary"> Ingresar <i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px;
      height: 16px;padding-top: 2px"></i></button>
  </span>
<br><br>