<!-- componente HTML de la línea de negocio llamada Productos de Financiación del portal de los prototipos APIs -->

<!-- Contenedor de la descripción de los productos que están en la línea de negocio Productos de Financiación -->

<div style="background-color:rgba(150, 140, 140, 0.1);width:1524px;
height: 147px;margin-top: -23px;margin-left: -210px;background-size: cover;">
    <br>
    <h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-size: 47px;
    font-weight: 600;text-align: center;">Productos de Financiación</h3>
    <hr>
    <section class="animated fadeIn fast" style="font-family: 'OpenSans', sans-serif;font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.34px;
    text-align: center;
    color: #808285;">
        Aqui encontrarás los productos APIs de la línea de negocio Productos de Financiación, los cuales podrás utilizar como mejor se acomode a tus necesidades o a las necesidades de tu empresa</section>

</div>
<br>
<!-- Contenedor del título Catálogo de productos, ubicado casi en el centro del componente HTML -->
<h2 class="animated fadeIn fast" style="font-family: Nunito;
font-size: 28px;
margin-left: -850px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.07;
letter-spacing: -0.6px;
color: #808285;">Catálogo de productos APIs</h2>
<br>
<!-- Contenedor de las "cards o tarjetas" de los productos de la línea de negocio Productos de Financiación -->
<div class="card-deck">

    <div class="card-deck" style="width: 50%;height: 50%;">
        <div class="card" style="border: 0px;background-color: white;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);">
            <img class="card-img-top" src="./assets/img/CreditoVehiculo.PNG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Estudio Crédito Vehículo</h5>
                <p class="card-text" style="color: #808285;">Realiza desde la comodidad de tu casa, un credito Sufi para el carro de tus sueños.</p>
            </div>
            <button type="button" (click)="verPortadaCreditoVehiculo()" class="btn btn-primary" style="color:#00448d;margin-left: 310px;"> Conocer más<i class="fas fa-angle-right" style="float:right;color:#00448d; width: 10px;
                  height: 16px;padding-top: 2px"></i></button>

        </div>

    </div>

</div>
<br><br><br><br><br>

<!-- Contenedor del "footer o pie de página" del portal de los prototipos APIs-->
<br><br><br>
<!-- Contenedor del "footer o pie de página" del portal de los prototipos APIs-->
<footer class="detalle-footer" role="contentinfo">
    <div class="region region-footer">
        <div class="region-inner clearfix">
            <div id="block-block-1" class="block block-block no-title odd first last block-count-5 block-region-footer block-1">
                <div class="block-inner clearfix">
                    <div class="block-content content no-title">
                        <div class="footer">
                            <p style="font-family: Nunito;
                        font-size: 16px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.14;
                        letter-spacing: -0.39px;
                        color: #808285;">Iniciativa desarrollada por el área de Estrategia de APIs</p>

                            <p style="font-family: Nunito;
                        font-size: 14px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.5;
                        letter-spacing: -0.3px;
                        color: #808285;">Contacto: oba@bancolombia.com.co</p>
                            <h2 style="font-family: Nunito;
                        font-size: 14px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.5;
                        letter-spacing: -0.3px;
                        color: #ffffff;
                        position: relative;
                        left: 550px;
                        top: -28px;
                        ">Copyright <i class="far fa-copyright"></i> Grupo Bancolombia</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>