<br>
<div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 301%;position: relative;left: -100%">
        <div class="modal-header">
            <h5 class="modal-title">Prueba de concepto API Consulta de información de documento</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="volverPortalConsultaInfoDocumento()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body">

            <!-- Comentario al inicio de la PoC -->
            <p style="font-family: 'OpenSans', sans-serif;
font-size: 12px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.5;
letter-spacing: -0.3px;
text-align: justify;
color: #808285;">*Esta es una muestra representativa de las funcionalidades que puede tener está API, sin embargo no garantiza que los aliados/consumidores lo implementen de la misma forma.</p>

            <mat-horizontal-stepper [linear]="isLinear" #stepper>

                <mat-step>
                    <p style="font-family: 'OpenSans', sans-serif;
font-size: 12px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.5;
letter-spacing: -0.3px;
text-align: justify;
color: #808285;">El asesor vinculado al proceso es quien debe completar los campos.</p>
                    <ng-template matStepLabel>Inicio opción 1</ng-template>
                    <form>
                        <img src="./assets/img/icon_banco.png" style="width: 15%;height: 15%;position: relative;left: -10%;" alt="Card image cap">
                        <p style="font-size: 15px;font-family: 'Nunito';font-weight: 500;color:black;position: relative;left: 32.5%;top:5px">
                            Surcursal Virtual Personas</p>
                        <br>
                        <h4 style="display: flex; justify-content: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold">
                            Datos del usuario final:</h4>

                        <table class="example-full-width" cellspacing="0" style="position: relative;left:32%;top:15px">

                            <tr>
                                <td>

                                    <mat-form-field style="width: 130%;">
                                        <mat-label>Tipo de documento</mat-label>
                                        <mat-select>
                                            <mat-option *ngFor="let documentoId of docId" [value]="documentoId.value">
                                                {{documentoId.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td style="position: relative;left: 30%;">
                                    <mat-form-field class="example-full-width" style="width: 135%;">
                                        <mat-label>Número de documento</mat-label>
                                        <input matInput placeholder="Ingrese el número del documento">
                                    </mat-form-field>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <mat-form-field class="example-full-width" style="width: 135%;">
                                        <mat-label>Número de celular</mat-label>
                                        <input matInput placeholder="Ingrese el número de contacto">
                                    </mat-form-field>
                                </td>
                                <td style="position: relative;left: 30%;">
                                    <mat-form-field class="example-full-width" style="width: 130%;">
                                        <mat-label>Correo electronico</mat-label>
                                        <input matInput placeholder="Ingresa el e-mail">
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>

                                <td style="position: relative;left: 0%;">
                                    <mat-form-field class="example-full-width" style="width: 135%;">
                                        <mat-label>Tipo de cuenta</mat-label>
                                        <input matInput placeholder="Ejemplo: cuenta de ahorros">
                                    </mat-form-field>
                                </td>

                            </tr>

                        </table>




                    </form>
                    <div>

                        <button mat-button matStepperNext color="primary" style="margin-top: 100px;">Siguiente <mat-icon
                color="primary">keyboard_arrow_right</mat-icon></button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                        <p style="font-family: 'OpenSans', sans-serif;
font-size: 12px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.5;
letter-spacing: -0.3px;
text-align: justify;
color: #808285;">Los campos deben ser diligenciados por el usuario final.</p>
                        <ng-template matStepLabel>Inicio opción 2</ng-template>
                        <img src="./assets/img/icon_banco.png" style="width: 15%;height: 15%;position: relative;left: -10%;" alt="Card image cap">
                        <p style="font-size: 15px;font-family: 'Nunito';font-weight: 500;color:black;position: relative;left: 32.5%;top:5px">
                            Surcursal Virtual Personas</p>
                        <br>
                        <div style="background-color:rgba(150, 140, 140, 0.2);width:800px;
                        height: 320px;position: relative;left: 20%;">
                            <br>
                            <p class="descripcion" style="font-family: 'OpenSans', sans-serif;font-size: 16px;
                        font-weight: 400;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: -0.34px;
                      position: relative;
                      left: 5%;
                        color: #808285;">
                                Cuentas
                            </p>
                            <p class="descripcion" style="font-family: 'Nunito', sans-serif;font-size: 32px;
                        font-weight: 700;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: -0.34px;
                        position: relative;
                        left: 5%;
                        color: #58595b;">
                                Cuenta de Ahorros
                            </p>
                            <p class="descripcion" style="font-family: 'OpenSans', sans-serif;font-size: 16px;
                        font-weight: 400;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: -0.34px;
                        position: relative;
                        left: 5%;
                        color: #808285;">
                                Abre una cuenta de ahorros desde Internet de forma ágil y segura. Recibes la tarjeta débito a domicilio

                            </p>
                            <p class="descripcion" style="font-family: 'OpenSans', sans-serif;font-size: 16px;
                            font-weight: 400;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: -0.34px;
                            position: relative;
                            left: 5%;
                            color: #808285;">
                                sin costo.

                            </p>

                            <button data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="btn btn-primary btn-lg" style="box-sizing: border-box;
                            display: inline-block;  text-align: center;
                            text-decoration: none; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.16);
                            width: 248px;
                            height: 38px;
                            border-radius: 10000px;
                            background-color: #ffd200;
                            position: relative;
                            left: -1%;
                            margin-top: 6%;">¡SOLICÍTALA AHORA!<i class="fas fa-angle-right" style="float:right;color: #454648; width: 10px;
                                          height: 16px;padding-top: 2px"></i></button>

                        </div>
                        <div class="collapse" id="collapseExample" role="collpase" aria-labelledby="list-first-list">
                            <br>
                            <br>

                            <p>
                                <mat-icon style="font-size: 40px;position: relative;top:48px;left: 30%;">check_circle_outline</mat-icon>
                            </p>
                            <h4 style="display: flex; justify-content: center; color:#222; font-family: 'Nunito', sans-serif;font-weight: bold;font-size: 32px;position: relative;top:-5px;left: -10%;">
                                Has elegido:</h4>
                            <br>
                            <img src="./assets/img/tarjeta_debito_bancolombia.PNG" style="width: 10%;height: 10%;position: relative;left: -15%;" alt="Card image cap">
                            <h4 style="display: flex; justify-content: center; color:#292929; font-family: 'Nunito', sans-serif;font-weight: bold;font-size: 22px;position: relative;top:-75px;left: -5%;">
                                Cuenta</h4>
                            <h4 style="display: flex; justify-content: center; color:#808285; font-family: 'Nunito', sans-serif;font-weight: bold;font-size: 28px;position: relative;top:-75px;left: 1%;">
                                Cuenta de ahorros</h4>
                            <h4 style="display: flex; justify-content: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold">
                                Datos Personales:</h4>

                            <table class="example-full-width" cellspacing="0" style="position: relative;left:32%;top:15px">

                                <tr>
                                    <td>

                                        <mat-form-field style="width: 130%;">
                                            <mat-label>Tipo de documento</mat-label>
                                            <mat-select>
                                                <mat-option *ngFor="let documentoId of docId" [value]="documentoId.value">
                                                    {{documentoId.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td style="position: relative;left: 30%;">
                                        <mat-form-field class="example-full-width" style="width: 135%;">
                                            <mat-label>Número de documento</mat-label>
                                            <input matInput placeholder="Ingrese el número del documento">
                                        </mat-form-field>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width" style="width: 135%;">
                                            <mat-label>Número de celular</mat-label>
                                            <input matInput placeholder="Ingrese el número de contacto">
                                        </mat-form-field>
                                    </td>
                                    <td style="position: relative;left: 30%;">
                                        <mat-form-field class="example-full-width" style="width: 130%;">
                                            <mat-label>Correo electronico</mat-label>
                                            <input matInput placeholder="Ingresa el e-mail">
                                        </mat-form-field>
                                    </td>
                                </tr>


                            </table>


                        </div>



                    </form>
                    <div>
                        <button mat-button matStepperNext color="primary" style="margin-top: 65px;">Siguiente <mat-icon
                color="primary">keyboard_arrow_right</mat-icon></button>
                    </div>
                </mat-step>


                <mat-step>
                    <form>
                        <p style="font-family: 'OpenSans', sans-serif;
                      font-size: 12px;
                      font-weight: normal;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: 1.5;
                      letter-spacing: -0.3px;
                      text-align: justify;
                      color: #808285;">Los datos cargados son obtenidos al completar los datos personales del usuario final.</p>
                        <ng-template matStepLabel>Validaciones</ng-template>
                        <img src="./assets/img/icon_banco.png" style="width: 15%;height: 15%;position: relative;left: -10%;" alt="Card image cap">
                        <p style="font-size: 15px;font-family: 'Nunito';font-weight: 500;color:black;position: relative;left: 32.5%;top:5px">
                            Surcursal Virtual Personas</p>
                        <br>
                        <h4 style="display: flex; justify-content: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold">
                            Revisa por favor que todo este correcto</h4><br>
                        <div class="container-consulta-lote" style="display: flex; justify-content: center">
                            <form>
                                <br>
                                <div>
                                    <br>

                                    <h4 style="display: flex; justify-content: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold">
                                        Datos Personales:</h4>

                                    <table class="example-full-width" cellspacing="0" style="position: relative;left:-5%;top:15px">

                                        <tr>
                                            <td>

                                                <mat-form-field style="width: 130%;">
                                                    <mat-label>Tipo de documento</mat-label>
                                                    <mat-select>
                                                        <mat-option *ngFor="let documentoId of docId" [value]="documentoId.value">
                                                            {{documentoId.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                            <td style="position: relative;left: 30%;">
                                                <mat-form-field class="example-full-width" style="width: 135%;">
                                                    <mat-label>Número de documento</mat-label>
                                                    <input matInput value="1155888996">
                                                </mat-form-field>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <mat-form-field class="example-full-width" style="width: 135%;">
                                                    <mat-label>Número de celular</mat-label>
                                                    <input matInput value="3217856489">
                                                </mat-form-field>
                                            </td>
                                            <td style="position: relative;left: 30%;">
                                                <mat-form-field class="example-full-width" style="width: 130%;">
                                                    <mat-label>Correo electronico</mat-label>
                                                    <input matInput value="jose@hotmail.com">
                                                </mat-form-field>
                                            </td>
                                        </tr>


                                    </table>




                                </div><br>
                                <span class="col-sm-15">

                  <button class="btn btn-secondary btn-sm" type="submit" name="approve" data-toggle="collapse"
                    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                    style="background-color:#A6B3D1 ;color:#292929">Consultar</button>
                </span><br><br><br>
                            </form>
                        </div>
                        <div class="col-15">
                            <div class="tab-content" id="nav-tabContent">

                            </div>
                        </div>

                        <div style="position: relative; left:2%;">

                            <button mat-button matStepperPrevious style="margin-top: 120px;">
                <mat-icon>keyboard_arrow_left</mat-icon>Atrás
              </button>
                            <button mat-button matStepperNext color="primary" style="margin-top: 120px;">Siguiente <mat-icon
                  color="primary">keyboard_arrow_right</mat-icon></button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>

                    <ng-template matStepLabel>Alertas</ng-template>
                    <form>
                        <br>
                        <div class="modal-content" style="text-align: justify">

                            <div class="modal-body pt-5 pt-md-3">

                                <span class="modal-footer col-sm-8">
                  <button mat-button matStepperNext type="button" class="btn btn-secondary btn-small"
                    data-dismiss="modal"
                    style="background-color:#A6B3D1;color:black;position: relative; left:-15%; width: 20%;height: 30px;">Aceptar</button>
                </span>
                            </div>
                        </div>



                    </form>
                    <div>
                        <button mat-button matStepperPrevious style="margin-top: 120px;">
              <mat-icon>keyboard_arrow_left</mat-icon>Atrás
            </button>
                        <button mat-button matStepperNext color="primary" style="margin-top: 100px;">Siguiente <mat-icon
                color="primary">keyboard_arrow_right</mat-icon></button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Conclusión del proceso</ng-template>
                    <form>






                    </form>
                    <div>
                        <button mat-button matStepperPrevious style="margin-top: 100px;">
              <mat-icon>keyboard_arrow_left</mat-icon> Atrás
            </button>
                        <button mat-button matStepperNext color="primary" style="margin-top: 100px;">Siguiente <mat-icon
                color="primary">keyboard_arrow_right</mat-icon></button>
                    </div>
                </mat-step>

                <mat-step>

                    <ng-template matStepLabel>Mensaje Exitoso</ng-template>
                    <form>

                        <div class="alert alert-success" role="alert" style="width: 50%;position: relative;left: 23%;">
                            <p>
                                <mat-icon style="font-size: 40px;position: relative;left: 46%;">check_circle_outline</mat-icon>
                            </p>
                            <h4 class="alert-heading" style="text-align: center;font-weight:600">Felicitaciones</h4>
                            <p style="text-align: center;">¡La conciliación de la 2019/04/01 a la 2019/04/20 fue exitosa!</p>
                            <hr>
                        </div>


                    </form>
                    <div>
                        <button mat-button matStepperPrevious>
                      <mat-icon>keyboard_arrow_left</mat-icon> Atrás
                    </button>
                        <button mat-button (click)="stepper.reset()">Volver a empezar</button>

                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>

    </div>
</div>

<ng-template #content let-modal>

    <div class="modal-header" style="background-color: #EEEEEE;width: 180%;height:200% ; position: relative;left: -40%;">
        <h4 class="modal-title" id="modal-basic-title">Prueba de concepto API Consulta de información de documento</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
      <br>
    </button>
    </div>

    <div class="modal-body" style="background-color:  #EEEEEE;width: 180%;position: relative;left: -40%;">


    </div>

    <!--   <div class="modal-footer" style="background-color:  #EEEEEE;width: 180%;position: relative;left: -40%;">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        <br>
    </div> -->


</ng-template>
