<!-- componente HTML de la línea de negocio llamada Créditos y depósitos del portal de las PoC -->

<!-- Contenedor de la descripción de los productos que están en la línea de negocio Créditos y depósitos -->

<div style="background-color:rgba(150, 140, 140, 0.1);width:1524px;
height: 147px;margin-top: -23px;margin-left: -210px;background-size: cover;">
    <br>
    <h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-size: 47px;
    font-weight: 600;text-align: center;">Créditos y depósitos</h3>
    <hr>
    <section class="animated fadeIn fast" style="font-family: 'OpenSans', sans-serif;font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.34px;
    text-align: center;
    color: #808285;">
        Aqui encontrarás los productos API's de la línea de negocio Créditos y depósitos, los cuales podrás utilizar como mejor se acomode a tus necesidades o a las necesidades de tu empresa</section>

</div>
<br>
<!-- Contenedor del título Catálogo de productos, ubicado casi en el centro del componente HTML -->
<h2 class="animated fadeIn fast" style="font-family: Nunito;
font-size: 28px;
margin-left: -850px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.07;
letter-spacing: -0.6px;
color: #808285;">Catálogo de productos</h2>
<br>
<!-- Contenedor de las "cards o tarjetas" de los productos de la línea de negocio Créditos y depósitos -->
<div class="card-deck">

    <div class="card" style="border: 0px;background-color: white;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);"><img class="card-img-top" src="./assets/img/product_13.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="font-family: 'Nunito', sans-serif">Crédito Vehículo</h5>
            <p class="card-text">Realiza desde la comodidad de tu casa, un credito Sufi para el carro de tus sueños.</p>
            <br>
        </div>
        <button (click)="verPagoTerceros()" type="button" class="btn btn-primary" style="color:#00448d;margin-left: 390px;"> Conocer más<i class="fas fa-angle-right" style="float:right;color:#00448d; width: 10px;
            height: 16px;padding-top: 2px;"></i></button>
        <p class="card-text" style="color: #808285;"><small class="text-muted ">última actualización hace 3 minutos</small></p>


    </div>


    <div class="card" style="border: 0px;background-color: white;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);">
        <img class="card-img-top" src="./assets/img/product_11.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Crédito Moto</h5>
            <p class="card-text">APIs que brindan la oportunidad de realizar el pago a terceros</p>
        </div>
        <button (click)="verPagoTerceros()" type="button" class="btn btn-primary" style="color:#00448d;margin-left: 390px;"> Conocer más<i class="fas fa-angle-right" style="float:right;color:#00448d; width: 10px;
          height: 16px;padding-top: 2px;"></i></button>
        <p class="card-text" style="color: #808285;"><small class="text-muted ">última actualización hace 3 minutos</small></p>

    </div>
</div>
<br><br><br><br><br>
<!-- <button (click)="verFamilias()" class="btn btn-primary btn-lg"><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px;
    height: 16px;padding-top: 2px"></i>REGRESAR </button> -->
<!-- Contenedor del "footer o pie de página" del portal PoC-->
<br><br><br>
<!-- Contenedor del "footer o pie de página" del portal PoC-->
<footer class="detalle-footer" role="contentinfo">
    <div class="region region-footer">
        <div class="region-inner clearfix">
            <div id="block-block-1" class="block block-block no-title odd first last block-count-5 block-region-footer block-1">
                <div class="block-inner clearfix">
                    <div class="block-content content no-title">
                        <div class="footer">
                            <p style="font-family: Nunito;
                        font-size: 16px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.14;
                        letter-spacing: -0.39px;
                        color: #808285;">Iniciativa desarrollada por el área de Open Banking y APIs - OBA</p>
                            <!--  <p style="font-family: Nunito;
                        font-size: 16px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.14;
                        letter-spacing: -0.39px;
                        color: #808285;">Open Banking y API's - OBA</p> -->
                            <p style="font-family: Nunito;
                        font-size: 14px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.5;
                        letter-spacing: -0.3px;
                        color: #808285;">Contacto: oba@bancolombia.com.co</p>
                            <h2 style="font-family: Nunito;
                        font-size: 14px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.5;
                        letter-spacing: -0.3px;
                        color: #ffffff;
                        position: relative;
                        left: 550px;
                        top: -28px;
                        ">Copyright <i class="far fa-copyright"></i> Grupo Bancolombia</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
