<img style="float:left; margin-right: 20px;" src="./assets/img/venturi.png">
<h4 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; color:#808080;display: flex; justify-content: center; font-size: 25px ">Estudio Preliminar</h4>
<hr>
<h4 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; color:#292929;display: flex; justify-content: center; font-size: 25px">Información del Vehículo</h4>
<br>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <div class="card card-body" STYLE="text-align: left; font-family: 'Nunito', sans-serif ">
                <div>
                    <select for="text " class=" form-control ">
                      <option>Categoría del producto</option>
                      <option>Credito Vehículo Nuevo</option>
                      <option>Credito Vehículo Usado</option>
                      <option>Leasing Vehículos Nuevos</option>
                      <option>Leasing Motos Gama Alta Nueva</option>
                      <option>Moto Gama Alta Usada</option>
                      <option>Moto Gama Alta Nueva</option>
                      <option>Compra Cartera Vehículo Usada</option>
                  </select> <br>
                </div>
                <select for="text" class="form-control">
                    <option>Subcategoría del producto</option>
                    <option>Automovil</option>
                    <option>Camioneta</option>
                    <option>Campero</option>
                    <option>Pick Up</option>
                    <option>Motocicleta</option>
                </select><br>
                <div>
                    <select for="text" class="form-control">
                        <option>Modelo o año del producto</option>
                        <option>2019</option>
                        <option>2018</option>
                        <option>2017</option>
                        <option>2016</option>
                        <option>2015</option>
                    </select> </div><br>
                <div>
                    <select for="text" class="form-control"> 
                        <option>Marca del producto</option>
                        <option>Nissan</option>
                        <option>Ford</option>
                        <option>BMW</option>
                        <option>Mini</option>
                        <option>Chevrolet</option>
                        <option>Mercedez Benz</option>
                        <option>Toyota</option>
                        <option>Mazda</option>
                        <option>Honda</option>
                        <option>Renault</option>
                        <option>KIA</option>
                        <option>Hyundai</option>
                        <option>Volkswagen</option>
                        <option>Suzuki</option>
                        <option>Dodge</option>
                        <option>Audi</option>
                        <option>Mitsubishi</option>
                        <option>Jeep</option>
                        <option>SSANGYONG</option>
                        <option>Peugeot</option>
                        <option>Subaru</option>
                        <option>Volvo</option>
                        <option>Citroen</option>
                        <option>Fiat</option>
                        <option>Land Rover</option>
                        <option>Daihatsu</option>
                        <option>Porsche</option>
                        <option>Seat</option>
                        <option>Foton</option>
                        <option>Chery</option>
                        <option>Skoda</option>
                        <option>Baic</option>
                    </select>
                </div><br>
            </div><br>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="card card-body" style="text-align: left;font-family: 'Nunito', sans-serif;height: 286.979166px;">
                <div>
                    <input for="text" class="form-control" placeholder="Línea del vehículo">
                </div><br>
                <div>
                    <input for="text" class="form-control" placeholder="Valor total del vehículo">
                </div><br>
                <div>
                    <input for="text" class="form-control" placeholder="Valor de la cuota inicial">
                </div><br>
                <div></div>
                <div></div>
                <div></div><br>
            </div><br>
        </div>
    </div>
</div>
<span class="col-sm-15" style="display:flex; justify-content: center">
    <button type="button" data-toggle="modal" data-target="#exampleModalvehiculo " class="btn btn-danger">ENVIAR</button>
    <button (click)="verEstudioPreliminarComercio()"style="display: none; margin-left: 20px;" id="botonContinuarVehiculo" type="button" class="btn btn-danger">CONTINUAR</button>
  </span>
<!-----Modal ----->
<div class="modal fade" tabindex="-1" role="dialog" id="exampleModalvehiculo">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Información exitosa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¡Los campos se guardaron exitosamente!</p>
                <p>Se puede continuar con el proceso</p>
            </div>
            <div class="modal-footer">
                <span>
                    <button onclick="document.getElementById('botonContinuarVehiculo').style.display='block';" type="button" class="btn btn-danger"data-dismiss="modal">Aceptar</button>
                </span>
            </div>
        </div>
    </div>
</div>