<img id="logofilial" src="./assets/img/bienvenida-vinculacion.PNG" class="img-fluid" alt="Responsive image">
<br><br>
<table class="table table-hover table-responsive-md" style="font-family: 'Nunito', sans-serif">
    <thead>
        <tr>
            <th scope="col">Ref</th>
            <th scope="col">Tipo ID</th>
            <th scope="col">Número ID</th>
            <th scope="col">Nombres cliente</th>
            <th scope="col">Apellidos cliente</th>
            <th scope="col">Celular cliente</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Fecha expedición</th>
            <th scope="col">Lugar expedición</th>
            <th scope="col">Correo electrónico</th>
            <th scope="col">Vincular</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Cédula</td>
            <td>4356523</td>
            <td>Carlos</td>
            <td>Lopez Rojas</td>
            <td>3213455465</td>
            <td>21/02/1990</td>
            <td>20/03/2008</td>
            <td>Medellín</td>
            <td>clopez@gmail.com</td>
            <td><input type="checkbox" class="form-check-input"></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Cédula</td>
            <td>45678980</td>
            <td>Andres</td>
            <td>Molina Arcila</td>
            <td>3112345678</td>
            <td>12/04/1987</td>
            <td>20/04/1996</td>
            <td>Medellín</td>
            <td>amolina@gmail.com</td>
            <td><input type="checkbox" class="form-check-input"></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Cédula</td>
            <td>71728190</td>
            <td>Julian</td>
            <td>Cardona Perez</td>
            <td>3186754546</td>
            <td>05/10/1972</td>
            <td>20/03/1993</td>
            <td>Medellín</td>
            <td>juliancarpe@gmail.com</td>
            <td><input type="checkbox" class="form-check-input"></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Cédula</td>
            <td>76456789</td>
            <td>Carmen Patricia</td>
            <td>Gutierrez Mora</td>
            <td>3114567890</td>
            <td>25/04/1985</td>
            <td>28/04/2002</td>
            <td>Medellín</td>
            <td>patriciag@gmail.com</td>
            <td><input type="checkbox" class="form-check-input"></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Cédula</td>
            <td>76456789</td>
            <td>Carolina</td>
            <td>Duque Osorio</td>
            <td>3114511213</td>
            <td>25/04/1985</td>
            <td>28/04/2002</td>
            <td>Medellín</td>
            <td>patriciag@gmail.com</td>
            <td><input type="checkbox" class="form-check-input"></td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Cédula</td>
            <td>76456789</td>
            <td>Carmen Patricia</td>
            <td>Gutierrez Mora</td>
            <td>3114567890</td>
            <td>25/04/1985</td>
            <td>28/04/2002</td>
            <td>Medellín</td>
            <td>patriciag@gmail.com</td>
            <td><input type="checkbox" class="form-check-input"></td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Cédula</td>
            <td>76456789</td>
            <td>Carmen Patricia</td>
            <td>Gutierrez Mora</td>
            <td>3114567890</td>
            <td>25/04/1985</td>
            <td>28/04/2002</td>
            <td>Medellín</td>
            <td>patriciag@gmail.com</td>
            <td><input type="checkbox" class="form-check-input"></td>
        </tr>
    </tbody>
</table>
<br><br>
<span>
    <button (click)="VerVinculacionDigital()"style="margin-right: 30px;" class="btn btn-primary btn-lg "><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px; height: 16px;padding-top: 2px"></i>CANCELAR </button>
    <button (click)="verVinculacionDigital4()"type="button" class="btn btn-primary ">VINCULAR <i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px; height: 16px;padding-top: 2px"></i></button>
</span>