<ul class="nav nav-tabs nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link " href="#/pagonomina3">Enviar Lote de Pago</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#/pagonomina-consultarlote">Consultar estado del lote</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#/pagonomina-consultadetalle">Consultar detalle del lote</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#/pagonomina-consultabeneficiario">Consultar beneficiario</a>
    </li>
</ul>
<br><br>
<h4 style="display: flex; justify-content: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold">Consulta el detalle del envío del lote</h4><br>
<div class="container-consulta-lote" style="display: flex; justify-content: center">
    <form>
        <img id="logofilial" src="./assets/img/nom.jpg" alt="Bancolombia">
        <br>
        <div class="form-group row">
            <div class="col-md-12">
                <input id="documento" name="password" type="text" class="form-control" placeholder="NIT DEL PAGADOR" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <input id="password" name="password" type="text" class="form-control" placeholder="CÓDIGO DEL LOTE" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <input id="password" name="password" type="date" class="form-control" placeholder="FECHA ENVÍO DEL LOTE" required>
            </div>
        </div><br>
        <span class="col-sm-15">
            <button class="btn btn-secondary btn-sm" type="submit" name="approve" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Consultar</button>
        </span><br>
    </form>
</div>


<!--------------------->
<div class="col-15">
    <div class="tab-content" id="nav-tabContent">
        <div style=" font-family: 'Nunito', sans-serif;" class="collapse" id="collapseExample" role="collpase" aria-labelledby="list-first-list">
            <br>
            <div class="col-12">
                <div class="alert alert-success" role="alert">
                    <strong>¡El proceso de envío del lote de pago fue EXITOSO!</strong> <br>Fecha de envío del lote: 04/05/2019<br> Usuario que efectúo el pago: Luis García P.<br>Valor total pagado: $150,000,000.00
                </div>
            </div>
            <div style="display: flex; justify-content: left;">
                <div class="col-12">
                    <!--table-->
                    <table class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">N° cuenta</th>
                                <th scope="col">Fecha aplicación</th>
                                <th scope="col">Nombre completo</th>
                                <th scope="col">Tipo identificación</th>
                                <th scope="col">N° identificación</th>
                                <th scope="col">Banco</th>
                                <th scope="col">Valor pago</th>
                                <th scope="col">Correo electrónico</th>
                                <th scope="col">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">2435</th>
                                <td>05/04/2019</td>
                                <td>Jose López</td>
                                <td>Cédula</td>
                                <td>12871415</td>
                                <td>Bancolombia</td>
                                <td>$500,000</td>
                                <td>cperez@bancolmbia.com.co</td>
                                <td>Exitoso</td>
                            </tr>
                            <tr>
                                <th scope="row">2435</th>
                                <td>05/04/2019</td>
                                <td>Maria Gómez</td>
                                <td>Cédula</td>
                                <td>12131415</td>
                                <td>Bancolombia</td>
                                <td>$500,000</td>
                                <td>cperez@bancolmbia.com.co</td>
                                <td>Fallido</td>
                            </tr>
                            <tr>
                                <th scope="row">2435</th>
                                <td>05/04/2019</td>
                                <td>Julian Arcila</td>
                                <td>Cédula</td>
                                <td>12131415</td>
                                <td>Davivienda</td>
                                <td>$500,000</td>
                                <td>jarcila@davivienda.com.co</td>
                                <td>Exitoso</td>
                            </tr>
                            <tr>
                                <th scope="row">2435</th>
                                <td>05/04/2019</td>
                                <td>Carolina Gil</td>
                                <td>Cédula</td>
                                <td>12131415</td>
                                <td>Banco de Occidente</td>
                                <td>$500,000</td>
                                <td>cperez@boccidente.com.co</td>
                                <td>Exitoso</td>
                            </tr>
                            <tr>
                                <th scope="row">2435</th>
                                <td>05/04/2019</td>
                                <td>Jose Gomez</td>
                                <td>Cédula</td>
                                <td>12131415</td>
                                <td>Bancolombia</td>
                                <td>$500,000</td>
                                <td>jgomez@bancolombia.com.co</td>
                                <td>Exitoso</td>
                            </tr>
                            <tr>
                                <th scope="row">2435</th>
                                <td>05/04/2019</td>
                                <td>Patricia Gutierrez</td>
                                <td>Cédula</td>
                                <td>12131415</td>
                                <td>Bancolombia</td>
                                <td>$500,000</td>
                                <td>pgutierrez@bancolombia.com.co</td>
                                <td>Exitoso</td>
                            </tr>
                            <tr>
                                <th scope="row">2435</th>
                                <td>05/04/2019</td>
                                <td>Gustavo Leal</td>
                                <td>Cédula</td>
                                <td>12131415</td>
                                <td>Banco de Bogotá</td>
                                <td>$500,000</td>
                                <td>gleal@bbogota.com.co</td>
                                <td>Exitoso</td>
                            </tr>
                            <tr>
                                <th scope="row">2435</th>
                                <td>05/04/2019</td>
                                <td>Daniel Zambrano</td>
                                <td>Cédula</td>
                                <td>12131415</td>
                                <td>Bancolombia</td>
                                <td>$500,000</td>
                                <td>dzambra@bancolombia.com.co</td>
                                <td>Exitoso</td>
                            </tr>
                            <tr>
                                <th scope="row">2435</th>
                                <td>05/04/2019</td>
                                <td>Arturo Palacio</td>
                                <td>Cédula</td>
                                <td>12131415</td>
                                <td>BBVA</td>
                                <td>$500,000</td>
                                <td>arturopalacio@bbva.com.co</td>
                                <td>Exitoso</td>
                            </tr>
                            <tr>
                                <th scope="row">2435</th>
                                <td>05/04/2019</td>
                                <td>Andrea Rojas</td>
                                <td>Cédula</td>
                                <td>12131415</td>
                                <td>Bancolombia</td>
                                <td>$100,000</td>
                                <td>arojas@bancolombia.com.co</td>
                                <td>Exitoso</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br>