<img style="float:left; margin-right: 20px;" src="./assets/img/venturi.png">
<h4 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; color:#808080;display: flex; justify-content: center; font-size: 25px ">Estudio Preliminar</h4>
<hr>
<h5 class="card-title" style="color: #292929; font-weight: bold; font-size: 25px">Actividad económica del cliente</h5>

<!----------------- ACTIVIDAD ECONOMICA DEL CLIENTE --------------------->
<div class="row" style="display: flex; justify-content: center">
    <div class="col-sm-8">
        <form (ngSubmit)="guardar(formulario)" #formulario="ngForm">
            <div class="form-group">
                <div class="card card-body" STYLE="text-align: left; font-family: 'Nunito', sans-serif ">
                    <div>
                        <select class="custom-select" name="ocupacion" id="ocupacion" for="text " class=" form-control" required>
                        <option>Ocupación del solicitante</option>
                        <option>Empleado</option>
                        <option>Empleado público</option>
                        <option>Transportador</option>
                        <option value="independiente">Independiente</option>
                        <option>Jubilado</option>
                        <option>Jubilado público</option>
                        <option value="profesional_independiente">Profesional independiente</option>
                        <option>Rentista capital</option>
                        </select>
                    </div><br>
                    <div>
                        <label>¿Tiene RUT?</label>
                        <label style="margin-left: 10px;">Si </label><input id="radio1" type="radio" name="isRut" onclick="rut.disabled=false"> <label style="margin-left: 10px;">No </label><input id="radio2" name="isRut" type="radio" onclick="rut.disabled=true">
                    </div><br>
                    <div>
                        <label>¿Tiene establecimiento comercial?</label>
                        <label style="margin-left: 10px;">Si </label><input onclick="establecimiento.disabled=false" id="radio1" type="radio" name="isEstablecimiento"> <label style="margin-left: 10px;">No </label><input onclick="establecimiento.disabled=true"
                            id="radio2" name="isEstablecimiento" type="radio">
                    </div>
                    <br>
                    <div>
                        <select name="profesion" id="ocupacion" for="text" class="form-control" required>
                            <option>Profesión del solicitante</option>
                            <option>Abogado</option>
                            <option>Administrador de Empresas</option>
                            <option>Arquitecto</option>
                            <option>Contador</option>
                            <option>Ingeniero, mecánico, electrónico, carreras a fines</option>
                            <option>Médico, odontólogo, carreras afines</option>
                            <option>Veterinario, zootecnista</option>
                            <option>Otras ingenierías</option>
                            <option>Otro</option>
                        </select>
                    </div><br>
                    <div>
                        <select name="profesion" id="ocupacion" for="text" class="form-control" required>
                            <option>País de residencia del solicitante</option>
                            <option>Colombia</option>
                            <option>Otro</option>
                        </select>
                    </div>
                </div>
            </div><br>
            <span class="col-sm-15" style="display:flex; justify-content: center">
                <button (click)="guardar(formulario)"type="button" data-toggle="modal" data-target="#exampleModalactividad" class="btn btn-danger">ENVIAR</button>
            </span>
            <span class="col-sm-15" style="display:flex; justify-content: center">
                <a onclick="document.getElementById('botonEstudioFinal').style.display='red';"id="botonContinuarActividad" href="/#/estudio-preliminar" class="card-link" style="color: #808285;text-decoration-line: underline;display: none">Continuar procesos</a><br>
            </span>
        </form>
    </div>
</div>
<!------ Modal ----->
<div class="modal fade" tabindex="-1" role="dialog" id="exampleModalactividad">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Información exitosa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¡Los campos se guardaron exitosamente!</p>
                <p>Se puede continuar con el proceso.</p>
            </div>
            <div class="modal-footer">
                <span>
                    <button onclick="document.getElementById('botonContinuarActividad').style.display='block';" type="button" class="btn btn-danger"data-dismiss="modal">Aceptar</button>
                </span>
            </div>
        </div>
    </div>
</div>