<h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 34px">API Vinculación digital </h3>
<hr>
<h4 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold">Descripción</h4>
<p class="descripcion">
    El API de vinculación digital tiene como objetivo realizar la captura de información para el nuevo clientes digital y las validaciones respectivas para registrar su vinculación y permitir la adquisición de un producto como son cuentas depósito, tarjetas
    de crédito y otros.
</p><br><br><br><br><br><br>
<span>
    <button (click)="VerFamilias()"style="margin-right: 30px" class="btn btn-primary btn-lg"><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px; height: 16px;padding-top: 2px"></i> REGRESAR </button>
    <button (click)="verVinculacionDigital2()"type="button" class="btn btn-primary"> INGRESAR <i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px; height: 16px;padding-top: 2px"></i></button>
</span><br><br><br>