<h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 33px">Detalle Cuentas de Inversión</h3>
<hr>
<h6 class="animated fadeIn fast" style="font-weight:bold; font-size:20px">Apreciado Cliente</h6><br>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <img src="/assets/img/estado-cuenta.PNG" class="center-block"><br><br>
                <h5 class="card-title">Estado de Cuenta</h5>
                <p class="card-text"> DESDE: 2019/01/31 HASTA: 2019/02/28</p>
                <p class="card-text" style="font-weight: bold;color:#00448d"> CUENTA DE INVERSIÓN</p>
                <ul>
                    <li>Fiducuenta Fiduciaria Bancolombia</li>
                    <li>FiduAcción Banco de Bogotá</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body" style="
            height: 315px">
                <img src="/assets/img/saldos-parciales.PNG" class="center-block"><br><br>
                <h5 class="card-title">Saldos Parciales</h5>
                <table class="table table-borderless table-sm table-responsive">
                    <thead>
                        <tr class="saldos-parciales">
                            <th scope="col" style="color:#00448d">BANCO</th>
                            <th scope="col" style="color:#00448d">N° CUENTA </th>
                            <th scope="col" style="color:#00448d">RENTABILIDAD</th>
                            <th scope="col" style="color:#00448d">SALDO FINAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bancolombia</td>
                            <td>111100002222</td>
                            <td> 2,5 %</td>
                            <td>$500,000.00</td>
                        </tr>
                        <tr>
                            <td>Banco Bogotá</td>
                            <td>222233334444</td>
                            <td>2,68 %</td>
                            <td>$3.000,000.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<table class="table table-responsive-sm table-hover table-bordered" style="border-color: #ffffff">
    <thead>
        <tr>
            <th rowspan="2" scope="col" style=" background-color: #00448d;border-color: #00448d; color:white">Fecha</th>
            <th rowspan="2" scope="col" style=" background-color:#00448d;border-color: #00448d; color:white">Banco</th>
            <th rowspan="2" scope="col" style=" background-color:#00448d;border-color: #00448d; color:white">Transacción</th>
            <th scope="col" colspan="2" style=" background-color: #00448d;border-color: #00448d; color:white"> Movimientos </th>
            <th scope="col" style="background-color: #00448d;border-color: #00448d; color:white"> Saldo </th>
        </tr>
        <tr>
            <th style=" background-color: #00448d;border-color: #00448d; color:white">Valor Pesos</th>
            <th style=" background-color: #00448d;border-color: #00448d; color:white">Valor Unidades</th>
            <th style=" background-color: #00448d;border-color: #00448d; color:white">Valor Pesos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>02/01</td>
            <td>Bancolombia</td>
            <td>Apertura</td>
            <td>$350,000.00</td>
            <td>12,1345678</td>
            <td>$350,000.00</td>
        </tr>
        <tr>
            <td>02/01</td>
            <td>Bancolombia</td>
            <td>Adición</td>
            <td>$250,000.00</td>
            <td>10,7593825</td>
            <td>$600,195.27</td>
        </tr>
        <tr>
            <td>03/01</td>
            <td>Bango de Bogotá</td>
            <td>Apertura</td>
            <td>$100,000.00</td>
            <td>6,1234567</td>
            <td>100,000.00</td>
        </tr>
        <tr>
            <td>03/01</td>
            <td>Banco de Bogotá</td>
            <td>Adición</td>
            <td>$300,000.00</td>
            <td>12,567893</td>
            <td>$400,000.00</td>
        </tr>
        <tr>
            <td>04/01</td>
            <td>Bancolombia</td>
            <td>Traspaso a cuenta de ahorros</td>
            <td>$ -50,000.00</td>
            <td>-6,6345465</td>
            <td>550,643.000</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2" style="background-color: #d1d3d4; color:#00448d; font-weight:bold">Saldo Anterior</th>
            <th colspan="2" style="background-color: #d1d3d4; color:#00448d; font-weight:bold">Adiciones</th>
            <th colspan="2" style="background-color: #d1d3d4; color:#00448d; font-weight:bold">Retiros</th>
        </tr>
        <tr>
            <th colspan="1" style="background-color: #e6e7e8; color:#00448d; font-weight:bold"> Valor en Pesos</th>
            <th colspan="1" style="background-color: #e6e7e8; color:#00448d; font-weight:bold"> Valor en Unidades</th>
            <th colspan="2" style="background-color: #e6e7e8; color:#00448d; font-weight:bold"> Valor en Pesos</th>
            <th colspan="2" style="background-color: #e6e7e8; color:#00448d; font-weight:bold"> Valor en Pesos</th>
        </tr>
        <tr>
            <td>0,00</td>
            <td>0,0000000</td>
            <td colspan="2">$950,000.00</td>
            <td colspan="2">0,00</td>
        </tr>
        <tr>
            <th colspan="1" style="background-color: #d1d3d4; color:#00448d; font-weight:bold">Rendimiento Neto</th>
            <th colspan="1" style="background-color: #d1d3d4; color:#00448d; font-weight:bold">Retención</th>
            <th colspan="4" style="background-color: #d1d3d4; color:#00448d; font-weight:bold">Nuevo Saldo</th>
        </tr>
        <tr>
            <th colspan="1" style="background-color: #e6e7e8; color:#00448d; font-weight:bold">Valor en Pesos</th>
            <th colspan="1" style="background-color: #e6e7e8; color:#00448d; font-weight:bold">Valor en Pesos</th>
            <th colspan="2" style="background-color: #e6e7e8; color:#00448d; font-weight:bold">Valor en Pesos</th>
            <th colspan="2" style="background-color: #e6e7e8; color:#00448d; font-weight:bold">Valor en Unidades</th>
        </tr>
        <tr>
            <td>605,84</td>
            <td>0,00</td>
            <td colspan="2">$950,605.84</td>
            <td colspan="2">28,34567890</td>
        </tr>
    </tfoot>
</table>
<span>
    <button type="button" class="Previous"><i class="fas fa-angle-left"></i></button>
    <button type="button" class="Next" style="margin-left: 30px;"><i class="fas fa-angle-right"></i></button>
</span><br><br>
<button (click)="verDetalleExtracto()" class="btn btn-primary btn-lg"><i class="fas fa-angle-left" style="float:left; color:#454648;width: 10px;
    height: 16px;padding-top: 2px"></i>REGRESAR </button><br><br>