<!-- componente HTML de la línea de negocio llamada Créditos y depósitos del portal de las PoC -->

<!-- Contenedor de la descripción de los productos que están en la línea de negocio Créditos y depósitos -->
<br>
<br>


<div style="background-color:white;width:70%;
height: 107px;margin-top: -23px;margin-left: -150px;background-size: cover;">
    <br>
    <h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-size: 47px;
    font-weight: 600;text-align: center;">Código QR</h3>
    <hr>


</div>

<!-- <button (click)="verFamilias()" class="btn btn-primary btn-lg"><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px;
    height: 16px;padding-top: 2px"></i>REGRESAR </button> -->
<!-- Contenedor del "footer o pie de página" del portal PoC-->
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<!-- Contenedor del "footer o pie de página" del portal PoC-->
<footer class="detalle-footer" role="contentinfo">
    <div class="region region-footer">
        <div class="region-inner clearfix">
            <div id="block-block-1" class="block block-block no-title odd first last block-count-5 block-region-footer block-1">
                <div class="block-inner clearfix">
                    <div class="block-content content no-title">
                        <div class="footer">
                            <p style="font-family: Nunito;
                            font-size: 16px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.14;
                            letter-spacing: -0.39px;
                            color: #808285;">Dirección de Analítica y Gobierno de Información</p>
                            <p style="font-family: Nunito;
                            font-size: 16px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.14;
                            letter-spacing: -0.39px;
                            color: #808285;">Open Banking y API's - OBA</p>
                            <p style="font-family: OpenSans;
                            font-size: 14px;
                            font-weight: 600;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.5;
                            letter-spacing: -0.3px;
                            color: #808285;">Contacto: oba@bancolombia.com.co</p>
                            <h2 style="font-family: Nunito;
                            font-size: 14px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.5;
                            letter-spacing: -0.3px;
                            color: #ffffff;
                            position: relative;
                            left: 550px;
                            top: -28px;
                            ">Copyright <i class="far fa-copyright"></i> Grupo Bancolombia</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<style>
    .circulo {
        width: 250px;
        height: 250px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
</style>
