<!-- componente HTML de la línea de negocio llamada Créditos y depósitos del portal de las PoC -->

<!-- Contenedor de la descripción de los productos que están en la línea de negocio Créditos y depósitos -->
<br>
<br>


<div style="background-color:white;width:70%;
height: 147px;margin-top: -23px;margin-left: -150px;background-size: cover;">
    <br>
    <h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-size: 47px;
    font-weight: 600;text-align: center;">Código QR</h3>
    <hr>
    <section class="animated fadeIn fast" style="font-family: 'OpenSans', sans-serif;font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.34px;
    text-align: justify;
    color: #808285;">
        La API de Gestionar QR permite la generación del código QR y la notificación de la transferencia exitosa. Para entender cómo funciona está API, solo debes realizar los siguientes 4 simples pasos, ingresar los datos del producto que se va a comprar, luego
        los datos de tu tienda o negocio, después puedes generar el código y finalmente recibir una notificación de confirmación de la tranferencia exitosa.</section>
    <br>
    <section class="animated fadeIn fast" style="font-family: 'OpenSans', sans-serif;font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.34px;
    text-align: justify;
    color: #808285;">
        Cabe resaltar que esta prueba de concepto es una muestra representativa de las funcionalidades de está API.
    </section>

</div>

<!-- Contenedor de la imágen circular representativa de la API QR code -->
<div style=" margin-left: 70%;margin-top: -80px;">
    <img class="circulo" src="./assets/img/imgCardQR.PNG" alt="Card image cap">
</div>
<!-- Botón o "Select" para desplegar más información que necesite el cliente de la PoC de QR Code" -->
<form class="form-inline" style="position: relative; left: 75%;margin-top: 5%;">
    <select class="form-control" id="exampleFormControlSelect1">
    <option>Más información</option>
    <option>Encargado: Sara Cardona</option>
    <option>Correo: oba@bancolombia.com.co</option>
  </select>
</form>


<!-- Lista de las características del producto -->
<div style="width: 68%;margin-top: 1%;">
    <h2 style="color:#00448d;font-family: Nunito;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: -0.6px;
  margin-top: -12%;
  margin-left: -95%;">Características del productos</h2>
    <ul class="list-group" style="margin-left: -17%;margin-top: 2%;">
        <i class="fas fa-check-circle" style="color:
        #ffcf01 ;">
      <p style="font-family: 'OpenSans', sans-serif;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: -0.3px;
          margin-top: -20px;
          margin-left: 2%;
          color: #808285;">Experiencia del cliente</p>
    </i>
        <i class="fas fa-check-circle" style="color:
        #ffcf01 ;">
      <p style="font-family: 'OpenSans', sans-serif;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: -0.3px;
            margin-top: -20px;
            margin-left: 2%;
            color: #808285;">Eficiencia operacional</p>
    </i>
        <i class="fas fa-check-circle" style="color:
        #ffcf01 ;">
      <p style="font-family: 'OpenSans', sans-serif;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: -0.3px;
                margin-top: -20px;
                margin-left: 2%;
                color: #808285;">Agilidad y comodidad</p>
    </i>
    </ul>
</div>
<!-- Botón para comenzar la prueba de concepto -->
<button type="button" class="btn btn-primary btn-lg" style="text-transform: uppercase; box-sizing: border-box;
display: inline-block;  text-align: center;
text-decoration: none; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.16);
width: 248px;
height: 38px;
border-radius: 10000px;
background-color: #ffd200;
position: relative;
left: -50%;
margin-top: 6%;" (click)="conocerMas()">Comenzar</button>
<br><br><br><br><br>
<!-- <button (click)="verFamilias()" class="btn btn-primary btn-lg"><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px;
    height: 16px;padding-top: 2px"></i>REGRESAR </button> -->
<!-- Contenedor del "footer o pie de página" del portal PoC-->
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<!-- Contenedor del "footer o pie de página" del portal PoC-->
<footer class="detalle-footer" role="contentinfo">
    <div class="region region-footer">
        <div class="region-inner clearfix">
            <div id="block-block-1" class="block block-block no-title odd first last block-count-5 block-region-footer block-1">
                <div class="block-inner clearfix">
                    <div class="block-content content no-title">
                        <div class="footer">
                            <p style="font-family: Nunito;
                            font-size: 16px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.14;
                            letter-spacing: -0.39px;
                            color: #808285;">Dirección de Analítica y Gobierno de Información</p>
                            <p style="font-family: Nunito;
                            font-size: 16px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.14;
                            letter-spacing: -0.39px;
                            color: #808285;">Open Banking y API's - OBA</p>
                            <p style="font-family: OpenSans;
                            font-size: 14px;
                            font-weight: 600;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.5;
                            letter-spacing: -0.3px;
                            color: #808285;">Contacto: oba@bancolombia.com.co</p>
                            <h2 style="font-family: Nunito;
                            font-size: 14px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.5;
                            letter-spacing: -0.3px;
                            color: #ffffff;
                            position: relative;
                            left: 550px;
                            top: -28px;
                            ">Copyright <i class="far fa-copyright"></i> Grupo Bancolombia</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<style>
    .circulo {
        width: 250px;
        height: 250px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
</style>
