<!-- componente HTML que se muestra por defecto al ejecutar o comenzar el portal de los prototipos APIs -->

<!-- Contenedor de la descripción de Casos de uso de APIs públicas -->
<div class="container-rectangle" style="width:1524px;
height: 247px;margin-top: -23px;margin-left: -210px;background-size: cover;">
    <br>
    <h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: 400; font-size: 28px; margin-left: 120px;margin-top: 10px; ">
        Ecosistema de </h3>
    <h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: 800; font-size: 38px; margin-left: 120px;margin-top: 8px; ">
        APIs públicas </h3>

    <p class="animated fadeIn fast" style="font-family: 'OpenSans', sans-serif;color: #808285;margin-left: 120px;font-size: 16px;font-weight: 400;">Si crees que la tecnología es el medio para brindar mejores experiencias al cliente, si has pensado que deberían </p>
    <p class="animated fadeIn fast" style="font-family: 'OpenSans', sans-serif;color: #808285;margin-left: 120px;margin-top:-7px ;font-size: 16px;font-weight: 400;">
        exponer alguna capacidad de negocio para satisfacer una necesidad o si no sabes qué es Open Banking</p>
    <p class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;color: #808285;margin-left: 120px;margin-top:-7px ;font-size: 16px;font-weight: 600;">
        Te invitamos a que explores y conozcas todo el potencial que tenemos para brindarte mediante APIs.</p>
    <img src="./assets/img/imagen-banner.png" alt="..." style="position: relative; top: -210px; left: 33%;width: 40%;">
</div>
<br>
<!-- Contenedor del título Líneas de negocio, ubicado casi en el centro del componente HTML -->
<h2 class="animated fadeIn fast" style="font-family: Nunito;
font-size: 28px;
margin-left: -904px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.07;
letter-spacing: -0.6px;
color: #808285;">Líneas de negocio</h2>
<br>
<br>

<!-- Contenedor del "carrusel" de las diferentes líneas de negocio del portal de prototipos APIs, ubicado
  casi en el centro del componente HTML -->

<div class="swiper-container">
    <div class="swiper-wrapper">

        <div class="swiper-slide" id="slide2"> <img class="card-img-top" src="./assets/img/product_11.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" style="font-family: 'Nunito', sans-serif">Productos de financiación</h5>
                <p class="card-text">APIs para la información de las cuentas de nuestros clientes, asi tendrás clara la información más relevante </p>
                <br>
                <button type="button" (click)="verProductosFinanciacion()" class="btn btn-primary" style="color:#00448d;margin-left: 108.8px;"> Conocer más<i class="fas fa-angle-right" style="float:right;color:#00448d; width: 10px;
                  height: 16px;padding-top: 2px"></i></button>

            </div>

        </div>
        <div class="swiper-slide" id="slide2"> <img class="card-img-top" src="./assets/img/portadaCuentas.jpg" style="height: 148px;position: relative;top: 0px;" alt="Card image cap">

            <div class="card-body" style="height: 215px;">
                <h5 class="card-title" style="font-family: 'Nunito', sans-serif">Productos de Captación</h5>
                <p class="card-text">Permite optimizar tus procesos cuando tus usuarios son clientes Bancolombia. </p>
                <br>

                <button type="button" (click)="VerProductosCaptacion()" class="btn btn-primary" style="color:#00448d;margin-left: 108.8px;position: relative;top:25px"> Conocer más<i class="fas fa-angle-right" style="float:right;color:#00448d; width: 10px;
                height: 16px;padding-top: 2px"></i></button>

            </div>

        </div>
        <div class="swiper-slide"><img class="card-img-top" src="./assets/img/product_01.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" style="font-family: 'Nunito', sans-serif">Medios de Pago</h5>
                <p class="card-text">Si deseas facilitar la tranferencia a tus clientes conoce más de esta línea de negocio.
                </p>
                <br>
                <button type="button" (click)="verMediosPago()" class="btn btn-primary" style="color:#00448d;margin-left: 108.8px;"> Conocer más<i class="fas fa-angle-right" style="float:right;color:#00448d; width: 10px;
                        height: 16px;padding-top: 2px"></i></button>

            </div>
        </div>
        <div class="swiper-slide"><img class="card-img-top" src="./assets/img/portadaVerificacionDocIdentidad.PNG" alt="Card image cap" style="height: 147px;position: relative;top: 0px;">
            <div class="card-body" style="height: 216px;">
                <h5 class="card-title" style="font-family: 'Nunito', sans-serif">Seguridad</h5>
                <p class="card-text">Contarás con una capacidad antifraude que te permitirá tomar mejores decisiones .
                </p>
                <br>
                <button type="button" (click)="verSeguridad()" class="btn btn-primary" style="color:#00448d;margin-left: 108.8px;"> Conocer más<i class="fas fa-angle-right" style="float:right;color:#00448d; width: 10px;
                        height: 16px;padding-top: 2px"></i></button>

            </div>
        </div>

        <div class="swiper-slide"><img class="card-img-top" src="./assets/img/product_01.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" style="font-family: 'Nunito', sans-serif">Filiales del Exterior y Aliados</h5>
                <p class="card-text">APIs que brindan capacidades para realizar el pago de nómina a tus empleado o beneficiarios
                </p>
                <br>
                <button type="button" (click)="verFilialesAliados()" class="btn btn-primary" style="color:#00448d;margin-left: 108.8px;"> Conocer más<i class="fas fa-angle-right" style="float:right;color:#00448d; width: 10px;
                        height: 16px;padding-top: 2px"></i></button>

            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination">

    </div>

    <!-- Add Arrows -->
    <div class="swiper-button-next">

    </div>
    <div class="swiper-button-prev">

    </div>
</div>

<br>
<!-- Contenedor de las "cards o tarjetas" de los productos en producción del portal de prototipos APIs, ubicado
  debajo del carrusel -->
<div class="container-rectangle" style="background-color:rgba(150, 140, 140, 0.1); width: 1530px;
height: 800px; margin-left: -217px;background-size: cover;">
    <br>
    <h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 76px; margin-left: 120px;margin-top: 10px;font-stretch: normal;
  font-style: normal;
  font-weight: 800;
  line-height: 0.83;
  letter-spacing: -0.64px; ">Productos </h3>
    <h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 76px; margin-left: 120px;margin-top: 10px;font-stretch: normal;
  font-style: normal;
  font-weight: 800;
  line-height: 0.83;
  letter-spacing: -0.64px; ">en producción </h3>

    <br>
    <br>
    <br>
    <br>
    <div class="card-deck" style=" width: 1200px;margin-left: 200px;">
        <div class="card" style="border: 0px;background-color:rgba(150, 140, 140, 0.1) ;">
            <img src="./assets/img/produccion.PNG" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Envío de Remesas</h5>
                <p class="card-text" style="color: #808285;">Con esta funcionalidad podrás enviar tu dinero desde un país extranjero a Colombia.</p>
            </div>


        </div>
        <div class="card" style="border: 0px;background-color:rgba(150, 140, 140, 0.1) ;">
            <img src="./assets/img/produccion.PNG" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Crédito de Vehículo</h5>
                <p class="card-text" style="color: #808285;">Con esta funcionalidad podrás solicitar un crédito de vehículo desde la comodidad de tu casa.</p>
            </div>


        </div>
        <div class="card" style="border: 0px;background-color:rgba(150, 140, 140, 0.1) ;">
            <img src="./assets/img/produccion.PNG" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Botón Bancolombia</h5>
                <p class="card-text" style="color: #808285;">Con esta funcionalidad podrás implementar un botón en tu página web o compartir un enlace por cualquier red social, para que tus clientes Bancolombia te transfieran de forma sencilla y ágil, evitando que abandonen el proceso de compra.</p>
            </div>


        </div>
    </div>




</div>
<!-- Contenedor del "footer o pie de página" del portal de prototipos APIs-->
<br><br><br>
<footer class="detalle-footer" role="contentinfo">
    <div class="region region-footer">
        <div class="region-inner clearfix">
            <div id="block-block-1" class="block block-block no-title odd first last block-count-5 block-region-footer block-1">
                <div class="block-inner clearfix">
                    <div class="block-content content no-title">
                        <div class="footer">
                            <p style="font-family: Nunito;
                        font-size: 16px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.14;
                        letter-spacing: -0.39px;
                        color: #808285;">Iniciativa desarrollada por el área de Estrategia de APIs</p>

                            <p style="font-family: Nunito;
                        font-size: 14px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.5;
                        letter-spacing: -0.3px;
                        color: #808285;">Contacto: oba@bancolombia.com.co</p>
                            <h2 style="font-family: Nunito;
                        font-size: 14px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.5;
                        letter-spacing: -0.3px;
                        color: #ffffff;
                        position: relative;
                        left: 550px;
                        top: -28px;
                        ">Copyright <i class="far fa-copyright"></i> Grupo Bancolombia</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Componente CSS o de estilos para el "carrusel" o "swiper" de este HTML -->
<style>
    html {
        height: 100%;
    }
    
    body {
        height: 100%;
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }
    
    .swiper-container {
        width: 100%;
    }
    
    .swiper-slide {
        text-align: center;
        background: #fff;
        /* Center slide text vertically */
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    #img1 {
        width: 80%;
        position: relative;
        margin-top: 3%;
        left: -1%;
    }
    
    #titleQR {
        font-size: 15px;
    }
    
    #p1QR {
        font-size: 14px;
        margin-top: -3%;
    }
    
    #p2QR {
        font-size: 14px;
        margin-top: -3%;
    }
    
    #p3QR {
        font-size: 14px;
        margin-top: -3%;
    }
</style>