<h4 style="text-align: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold">Realizar vinculación digital con Bancolombia</h4>
<br>
<p style="text-align: center;font-family: 'Nunito', sans-serif">
    Al vincularte con Bancolombia podrás obtener los siguientes productos:</p>
<br>
<img id="logofilial" src="./assets/img/abrir-cuentas.PNG" class="img-fluid" alt="Responsive image">
<br><br><br><br>
<span>
    <button (click)="verVinculacionDigital()"style="margin-right: 30px;" class="btn btn-primary btn-lg "><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px; height: 16px;padding-top: 2px"></i>REGRESAR </button>
    <button (click)="verVinculacionDigital3()"class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">VINCULAR</button>
</span>