<!-----------MODAL----------->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="font-family: 'Nunito', sans-serif;font-weight: bold">Términos y Condiciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: justify">
                Recuerda que por disposiciones constitucionales y de ley, toda tu información financiera es confidencial y está sujeta a reserva bancaria. En tal sentido, reconoces que sólo podrás suministrarnos tu propia información financiera y que nos autorizas a
                utilizarla para prestarte nuestros servicios según los términos y condiciones que aceptaste en el portal de APIs Bancolombia y las condiciones particulares de la familia de APIs de agregación.
                <br> Adicionalmente, recuerda que tus datos personales son tratados conforme a las autorizaciones otorgadas mediante los formatos de vinculación suscritos con el Grupo Bancolombia, lo anterior en cumplimiento con la ley 1266 de 2008, ley
                1581 de 2012, decreto 1377 de 2013 y demás normas que las adicionen o complementen. <br> Ten presente que frente a Bancolombia tienes los siguientes Derechos: puedes conocer, actualizar y rectificar los datos personales que has dado, solicitarnos
                prueba de esta autorización e información sobre el uso que le hemos dado a los datos personales, puedes negarte y/o revocar la autorización en los casos que sea procedente de acuerdo con la ley y presentar quejas ante la SIC por el uso
                indebido de tus datos personales. Para conocer la Política para la administración de datos personales.
            </div>
            <span class="modal-footer col-sm-10">
                <button type="button" class="btn btn-secondary btn-small" data-dismiss="modal">No acepto</button>
                <button type="button" id="botonAcepto" class="btn btn-primary btn-small" data-dismiss="modal" onclick="document.getElementById('botonEnviarDocumentos').style.display='block';">Acepto</button>
            </span>
        </div>
    </div>
</div>
<!----------- ALERTA ------------->

<body>
    <header>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading" style="font-weight: bold"><i class="fas fa-check-circle"></i> Bien hecho</h4>
            <p id="alert">Sus documentos fueron cargados correctamente.</p>
            <p id="alert">Acepta <a style="cursor:pointer" data-toggle="modal" data-target="#exampleModalLong "><u>Términos y condiciones</u></a> para continuar</p>
            <hr>
            <p id="alert" class="mb-0 "> Presiona <strong>Enviar</strong> para finalizar.</p>
        </div>
    </header>
</body>
<br><br><br>
<span>
    <div class="col-sm-14" style="display:flex; justify-content: center">
        <button (click)="verCargaDocumentosPyme()" style="margin-right: 5px;" class="btn btn-primary btn-lg"><i class="fas fa-angle-left" style="float:left; color:#454648;width: 10px; height: 16px;padding-top: 2px"></i>REGRESAR </button>
        <button id="botonEnviarDocumentos" style="display:none" (click)="verDetalleExtracto()" class="btn btn-primary btn-lg">ENVIAR <i class="fas fa-angle-right " style="float:right;color:#454648; width: 10px; height: 16px;"></i></button>
    </div>
</span>