<h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 34px">API Pago de Nómina</h3>
<hr>
<h4 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold">Descripción</h4>
<p class="descripcion">
    La capacidad expuesta por Bancolombia tiene como objetivo permitir la dispersión del pago de nómina desde una cuenta tipo deposito de Bancolombia hacia cuentas de un grupo de beneficiarios del pago de nómina con cuentas de deposito en Bancolombia o en
    otros Bancos, adicionalmente contara con capacidades que permitiran consultar los lotes de pago que han sido realizados, el detalle de un lote y el detalle de una transacción de pago a un beneficiario especifico.
</p><br><br><br><br><br><br>
<span>
    <button (click)="verPagos()" style="margin-right: 30px" class="btn btn-primary btn-lg "><i class="fas fa-angle-left" style=" float:left; color:#454648;width: 10px;
    height: 16px;padding-top: 2px"></i> REGRESAR </button>
    <button (click)="verPagonomina2()" type="button" class="btn btn-primary"> INGRESAR <i class="fas fa-angle-right" style="float:right;color:#454648; width: 10px;
      height: 16px;padding-top: 2px"></i></button>
</span>
<br><br><br>