<br>
<div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 280%;position: relative;left: -90%">
        <div class="modal-header">
            <h5 class="modal-title">Prueba de concepto API Conciliación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="volverPortalConciliacion()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body">

            <!-- Comentario al inicio de la PoC -->
            <p style="font-family: 'OpenSans', sans-serif;
font-size: 12px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.5;
letter-spacing: -0.3px;
text-align: justify;
color: #808285;">*Esta es una muestra representativa de las funcionalidades que puede tener está API, sin embargo no garantiza que los aliados/consumidores lo implementen de la misma forma.</p>

            <mat-horizontal-stepper [linear]="isLinear" #stepper>

                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                        <p style="font-family: 'OpenSans', sans-serif;
font-size: 12px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.5;
letter-spacing: -0.3px;
text-align: justify;
color: #808285;">Los campos deben ser diligenciados por el usuario final.</p>
                        <ng-template matStepLabel>Inicio de sesión portal Bancolombia</ng-template>
                        <div style="background-color:#788FB9;width: 35%;height: 30px; ;position: relative;left: 32%; border: 1px solid #A6B3D1;">
                            <p style="font-size: 18px;font-family: 'Nunito';font-weight: 600;color: white;position: relative;left: 2%;">
                                Usuario</p>
                        </div>
                        <div style="background-color: #D2D9E8;width: 35%;height: 40px; ;position: relative;left: 32%;top: 0px; border: 1px solid #A6B3D1;">
                            <p style="font-size: 13px;font-family: 'Nunito';font-weight: 500;color: #434343;position: relative;left: 2%;">
                                Si no tienes un usuario asignado ingresa con tu documento de identidad.</p>
                        </div>
                        <div class="container-login" style="display: flex; justify-content: center">
                            <form>

                                <!-- <h4 style=" display: flex; justify-content: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold ">Autenticación</h4><br> -->

                                <br>
                                <div class="form-group row ">
                                    <div class="col-md-12 ">
                                        <input id="password " name="password " type="text " class="form-control " placeholder="USUARIO " required>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <div class="col-md-12 ">
                                        <input id="password " name="password" type="password" class="form-control " placeholder="CLAVE " value={{result}} required>

                                    </div>
                                </div><br>
                                <span class="col-sm-15 ">
                  <button  mat-button matStepperNext class="btn btn-primary btn-sm " type="submit "
                    name="login " value="true"
                    style="background-color:#A6B3D1;width:35%;height:16%;position:relative;top:-10px;">Entrar</button>
                  <button  class="btn btn-secondary btn-sm " type="submit "
                    name="approve " value="false"
                    style="color:black;background-color:white;border:1px solid #A6B3D1;position:relative;top:-10px">Cancelar</button>
                </span>
                            </form>
                        </div>
                        <div>

                            <mat-button-toggle-group #group1="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-255px;left:36%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="getNumber5()" value={{number5}}>5</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group #group2="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-255px;left:36.3%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="getNumber9()" value={{number9}}>9</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group #group3="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-255px;left:36.6%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="getNumber3()" value={{number3}}>3</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group #group4="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-255px;left:36.9%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="getNumber0()" value={{number0}}>0</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group #group5="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-202px;left:25.3%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="getNumber7()" value={{number7}}>7</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group #group6="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-202px;left:25.6%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="getNumber8()" value={{number8}}>8</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group #group7="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-202px;left:25.9%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="getNumber4()" value={{number4}}>4</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group #group8="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-202px;left:26.2%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="getNumber2()" value={{number2}}>2</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group #group9="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-148.5px;left:14.7%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="getNumber6()" value={{number6}}>6</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group #group10="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-148.5px;left:15%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="getNumber1()" value={{number1}}>1</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group #group10="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-148.5px;left:15.3%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="deletePassword()">Borrar</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>





                    </form>
                    <div>
                        <button mat-button matStepperNext color="primary" style="margin-top: 65px;">Siguiente <mat-icon
                color="primary">keyboard_arrow_right</mat-icon></button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">

                        <ng-template matStepLabel>Terminos y condiciones</ng-template>
                        <p style="margin-left: 36%;">Tipo de documento del cliente titular de la cuenta destino</p>
                        <select class="custom-select" style="width: 35%;margin-left: 23.3%;" required>

              <option value="1">NIT</option>
              <option value="2">CC</option>
              <option value="3">Otra opción</option>
            </select>
                        <mat-form-field style="top: 60px;left: -450px;width: 230px;">
                            <mat-label id="label1" style="display: flex;">Número de documento:</mat-label>
                            <input matInput placeholder="Ejemplo: 800928739" formControlName="firstCtrl" required>

                        </mat-form-field>

                        <mat-form-field style="top: 70px;left: -26px;width: 320px;">
                            <mat-label id="label1" style="display: flex;">Nombre del cliente o razón social titular:</mat-label>
                            <input matInput placeholder="Ejemplo: Luis Fernando">

                        </mat-form-field>

                        <form style="margin-top: 7%;margin-left: 28%;">
                            <p style="margin-left: 11%;">Tipo de cuenta destino de la transferencia</p>
                            <select class="custom-select" style="width: 36%;margin-left: -43%;" required>
                <option value="1">Corriente</option>
                <option value="3">Otra opción</option>
              </select>

                        </form>
                        <mat-form-field style="top: 15px;left: 8px;width: 380px;">
                            <mat-label id="label1" style="display: flex;">Número de cuenta destino de la transferencia:</mat-label>
                            <input matInput placeholder="Ejemplo: 5093872099" formControlName="firstCtrl3" required>

                        </mat-form-field>


                    </form>
                    <div>
                        <button mat-button matStepperPrevious style="margin-top: 120px;">
              <mat-icon>keyboard_arrow_left</mat-icon>Atrás
            </button>
                        <button mat-button matStepperNext color="primary" style="margin-top: 65px;">Siguiente <mat-icon
                color="primary">keyboard_arrow_right</mat-icon></button>
                    </div>
                </mat-step>
                <mat-step>
                    <form>
                        <p style="font-family: 'OpenSans', sans-serif;
                      font-size: 12px;
                      font-weight: normal;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: 1.5;
                      letter-spacing: -0.3px;
                      text-align: justify;
                      color: #808285;">Los campos deben ser diligenciados por el usuario final.</p>
                        <ng-template matStepLabel>Listar Cuentas</ng-template>

                        <h4 style="display: flex; justify-content: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold">
                            Lista las cuentas que necesitas</h4><br>
                        <div class="container-consulta-lote" style="display: flex; justify-content: center">
                            <form>
                                <br>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <mat-label id="label1" style="display: flex;">Tipo de documento de identidad:
                                        </mat-label>
                                        <input id="documento" name="password" type="text" class="form-control" placeholder="" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <mat-label id="label1" style="display: flex;">Número de documento de identidad:
                                        </mat-label>
                                        <input id="password" name="password" type="text" class="form-control" placeholder="" required>
                                    </div>
                                </div><br>
                                <span class="col-sm-15">

                  <button class="btn btn-secondary btn-sm" type="submit" name="approve" data-toggle="collapse"
                    data-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample" style="background-color:#A6B3D1 ;color:#292929">Listar Cuentas</button>
                </span><br><br><br>
                            </form>
                        </div>
                        <div class="collapse" id="collapseExample">
                            <div style="display:flex; justify-content: center">
                                <div class="row" style="background-color:#ececec; color:#292929; text-align: center; font-family: 'Nunito', sans-serif">
                                    <div class="col-sm-6" style="padding-top: 15px;padding-bottom: 15px">
                                        <p>Tipo de identificacion: Cédula de ciudadanía</p>
                                        <p>Número de identificacion: 1234567890</p>
                                        <p>Nombre del beneficiario: Andrés Perez</p>
                                        <p>Tipo de cuenta donde se realizó el pago: Cuenta de ahorros</p>
                                    </div>
                                    <div class="col-sm-6" style="padding-top: 15px;padding-bottom: 15px">
                                        <p>Número de cuenta del beneficiario: 24500213454</p>
                                        <p>Banco al que pertence la cuenta: Bancolombia</p>
                                        <p>Valor pagado al beneficiario: $3,000,000.00</p>
                                        <p>Estado de pago: <strong>Satisfactorio</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div style="position: relative; left:2%;">

                            <button mat-button matStepperPrevious style="margin-top: 120px;">
                <mat-icon>keyboard_arrow_left</mat-icon>Atrás
              </button>
                            <button mat-button matStepperNext color="primary" style="margin-top: 120px;">Siguiente <mat-icon
                  color="primary">keyboard_arrow_right</mat-icon></button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Consultar Saldos</ng-template>
                    <form>
                        <h4 style="display: flex; justify-content: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold">
                            Consulta los saldos de un beneficiario</h4><br>
                        <div class="container-consulta-lote" style="display: flex; justify-content: center">
                            <form>
                                <br>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <input id="documento" name="password" type="text" class="form-control" placeholder="NIT DEL PAGADOR" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <input id="password" name="password" type="text" class="form-control" placeholder="CÓDIGO DEL LOTE" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <mat-label id="label1" style="display: flex;">Fecha inicial: no se ha realizado el pago salarial
                                        </mat-label>
                                        <input id="password" name="password" type="date" class="form-control" placeholder="" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <mat-label id="label1" style="display: flex;">Fecha final: pago realizado en este día específico
                                        </mat-label>
                                        <input id="password" name="password" type="date" class="form-control" placeholder="" required>
                                    </div>
                                </div>
                                <br>
                                <span class="col-sm-15">
                  <button class="btn btn-secondary btn-sm" type="submit" name="approve" data-toggle="collapse"
                    data-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample">Consultar</button>
                </span><br>
                            </form>
                        </div>
                        <div class="col-15">
                            <div class="tab-content" id="nav-tabContent">
                                <div style=" font-family: 'Nunito', sans-serif;" class="collapse" id="collapseExample" role="collpase" aria-labelledby="list-first-list">
                                    <br>

                                    <div style="display: flex; justify-content: left;">
                                        <div class="col-12">
                                            <!--table-->
                                            <table class="table table-striped table-responsive">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">N° cuenta</th>
                                                        <th scope="col">Fecha aplicación</th>
                                                        <th scope="col">Nombre completo</th>
                                                        <th scope="col">Tipo identificación</th>
                                                        <th scope="col">N° identificación</th>
                                                        <th scope="col">Banco</th>
                                                        <th scope="col">Valor pago</th>
                                                        <th scope="col">Correo electrónico</th>
                                                        <th scope="col">Estado</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">2435</th>
                                                        <td>05/04/2019</td>
                                                        <td>Jose López</td>
                                                        <td>Cédula</td>
                                                        <td>12871415</td>
                                                        <td>Bancolombia</td>
                                                        <td>$500,000</td>
                                                        <td>cperez@bancolmbia.com.co</td>
                                                        <td>Exitoso</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2435</th>
                                                        <td>05/04/2019</td>
                                                        <td>Maria Gómez</td>
                                                        <td>Cédula</td>
                                                        <td>12131415</td>
                                                        <td>Bancolombia</td>
                                                        <td>$500,000</td>
                                                        <td>cperez@bancolmbia.com.co</td>
                                                        <td>Fallido</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2435</th>
                                                        <td>05/04/2019</td>
                                                        <td>Julian Arcila</td>
                                                        <td>Cédula</td>
                                                        <td>12131415</td>
                                                        <td>Davivienda</td>
                                                        <td>$500,000</td>
                                                        <td>jarcila@davivienda.com.co</td>
                                                        <td>Exitoso</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2435</th>
                                                        <td>05/04/2019</td>
                                                        <td>Carolina Gil</td>
                                                        <td>Cédula</td>
                                                        <td>12131415</td>
                                                        <td>Banco de Occidente</td>
                                                        <td>$500,000</td>
                                                        <td>cperez@boccidente.com.co</td>
                                                        <td>Exitoso</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2435</th>
                                                        <td>05/04/2019</td>
                                                        <td>Jose Gomez</td>
                                                        <td>Cédula</td>
                                                        <td>12131415</td>
                                                        <td>Bancolombia</td>
                                                        <td>$500,000</td>
                                                        <td>jgomez@bancolombia.com.co</td>
                                                        <td>Exitoso</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2435</th>
                                                        <td>05/04/2019</td>
                                                        <td>Patricia Gutierrez</td>
                                                        <td>Cédula</td>
                                                        <td>12131415</td>
                                                        <td>Bancolombia</td>
                                                        <td>$500,000</td>
                                                        <td>pgutierrez@bancolombia.com.co</td>
                                                        <td>Exitoso</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2435</th>
                                                        <td>05/04/2019</td>
                                                        <td>Gustavo Leal</td>
                                                        <td>Cédula</td>
                                                        <td>12131415</td>
                                                        <td>Banco de Bogotá</td>
                                                        <td>$500,000</td>
                                                        <td>gleal@bbogota.com.co</td>
                                                        <td>Exitoso</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2435</th>
                                                        <td>05/04/2019</td>
                                                        <td>Daniel Zambrano</td>
                                                        <td>Cédula</td>
                                                        <td>12131415</td>
                                                        <td>Bancolombia</td>
                                                        <td>$500,000</td>
                                                        <td>dzambra@bancolombia.com.co</td>
                                                        <td>Exitoso</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2435</th>
                                                        <td>05/04/2019</td>
                                                        <td>Arturo Palacio</td>
                                                        <td>Cédula</td>
                                                        <td>12131415</td>
                                                        <td>BBVA</td>
                                                        <td>$500,000</td>
                                                        <td>arturopalacio@bbva.com.co</td>
                                                        <td>Exitoso</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2435</th>
                                                        <td>05/04/2019</td>
                                                        <td>Andrea Rojas</td>
                                                        <td>Cédula</td>
                                                        <td>12131415</td>
                                                        <td>Bancolombia</td>
                                                        <td>$100,000</td>
                                                        <td>arojas@bancolombia.com.co</td>
                                                        <td>Exitoso</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </form>
                    <div>
                        <button mat-button matStepperPrevious style="margin-top: 100px;">
              <mat-icon>keyboard_arrow_left</mat-icon> Atrás
            </button>
                        <button mat-button matStepperNext color="primary" style="margin-top: 100px;">Siguiente <mat-icon
                color="primary">keyboard_arrow_right</mat-icon></button>
                    </div>
                </mat-step>
                <mat-step>
                    <p style="font-family: 'OpenSans', sans-serif;
                  font-size: 12px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.5;
                  letter-spacing: -0.3px;
                  text-align: justify;
                  color: #808285;">El tipo y No. de documento de identidad y de la cuenta del usuario final son obtenidos al realizar la consulta los saldos. Los demás campos deben ser diligenciados por el usuario final.
                    </p>
                    <ng-template matStepLabel>Consultar Movimientos</ng-template>
                    <!---<a id="list-first-list" data-toggle="list" href="#list-first" role="tab" aria-controls="first" style="color:#808285;text-decoration-line: underline;cursor:pointer">Cuenta de Ahorros</a> -->
                    <div style=" font-family: 'Nunito', sans-serif;" class="tab-pane " id="list-first" role="tabpanel" aria-labelledby="list-first-list">
                        <h4 style="display: flex; justify-content: center; color:#00448d; font-family: 'Nunito', sans-serif;font-weight: bold">
                            Información de cuenta</h4>
                        <br>
                        <div class="col-sm-7">
                            <ul>
                                <li>
                                    Tipo de cuenta: Deposito - Cuenta de ahorros
                                </li>
                                <li>
                                    Número de la cuenta: 24566678956
                                </li>
                                <li>
                                    Cuota de sobregiro: $200.00
                                </li>
                                <li>
                                    Saldo disponible: $3,000,000.00
                                </li>
                                <li>
                                    Saldo disponible por cobrar: $1,000,000.00
                                </li>
                                <li>
                                    Saldo bloqueado: $0
                                </li><br>
                                <h6><u>Busca tus transacciones</u></h6>
                                <p style="color: #808080; font-size: 14px;">Elige un rango de fechas para ver tus transacciones con Bancolombia y Alegra</p>
                            </ul>
                        </div>

                        <div style="display: flex; justify-content: left;">
                            <div class="col-sm-8">
                                <br><label>Fecha mínima </label> <input class="form-control" type="date"> <label>Fecha máxima</label>
                                <input class="form-control" type="date"><br>
                                <button type="submit" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">CONSULTAR</button>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExample">
                            <h4 style="display: flex; justify-content: center; color:#00448d; font-family: 'Nunito', sans-serif;font-weight: bold">
                                Información Transaccional</h4>
                            <br>
                            <p class="descripcion">
                                Funcionalidad que permite consultar las transacciones realizadas en un periodo de tiempo determinado en una de las cuentas depósito o corriente de un cliente del Banco. A continuación encontrará la información transaccional de Alegra y Bancolombia en
                                el rango de fechas proporcionado.
                            </p><br><br>
                            <div class="row" style="display: flex; justify-content: center">
                                <div class="col-sm-8">
                                    <!----------------------TRANSACCIONES ALEGRA ------------------------>
                                    <h4 style="display: flex; justify-content: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold">
                                        Transacciones Alegra</h4>
                                    <table class="table table-responsive-sm table-hover table-bordered" style="border-color: #ffffff">
                                        <thead>
                                            <tr>
                                                <th scope="col" style=" background-color: #00448d;border-color:#00448d;  color:white"><i class="fas fa-check"></i></th>
                                                <th scope="col" style=" background-color: #00448d;border-color: #00448d; color:white">Fecha</th>
                                                <th scope="col" style=" background-color:#00448d;border-color: #00448d; color:white">Descripción
                                                </th>
                                                <th scope="col" style=" background-color:#00448d;border-color: #00448d; color:white">Referencia
                                                </th>
                                                <th scope="col" style=" background-color: #00448d;border-color:#00448d; color:white">Monto</th>
                                                <th scope="col" style=" background-color: #00448d;border-color:#00448d;  color:white">Moneda
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><input type="checkbox"></td>
                                                <td>2019/04/01</td>
                                                <td>Compra en Multiplex</td>
                                                <td>123</td>
                                                <td>$650,000.00</td>
                                                <td>COP</td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox"></td>
                                                <td>2019/04/05</td>
                                                <td>Abono</td>
                                                <td>124</td>
                                                <td>$300.00</td>
                                                <td>COP</td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox"></td>
                                                <td>2019/04/10</td>
                                                <td>Retiro</td>
                                                <td>125</td>
                                                <td>$200,000.00</td>
                                                <td>COP</td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox"></td>
                                                <td>2019/04/15</td>
                                                <td>Pago telefonia</td>
                                                <td>126</td>
                                                <td>$35,000.00</td>
                                                <td>COP</td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox"></td>
                                                <td>2019/04/20</td>
                                                <td>GMF</td>
                                                <td>127</td>
                                                <td>$-85.00</td>
                                                <td>COP</td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox"></td>
                                                <td>2019/04/20</td>
                                                <td>GMF</td>
                                                <td>127</td>
                                                <td>$-85.00</td>
                                                <td>COP</td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox"></td>
                                                <td>2019/04/20</td>
                                                <td>GMF</td>
                                                <td>127</td>
                                                <td>$-85.00</td>
                                                <td>COP</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#/transacciones-conciliacion-bancaria" tabindex="-1">Previous</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#/transacciones-conciliacion-bancaria">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#/transacciones-conciliacion-bancaria">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#/transacciones-conciliacion-bancaria">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#/transacciones-conciliacion-bancaria">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <!------------------------------------- TRANSACCIONES BANCOLOMBIA -->
                                <div class="col-sm-8">
                                    <h4 style="display: flex; justify-content: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold">
                                        Transacciones Bancolombia</h4>
                                    <table class="table table-responsive-sm table-hover table-bordered" style="border-color: #ffffff">
                                        <thead>
                                            <tr>
                                                <th scope="col" style=" background-color: #00448d;border-color:#00448d;  color:white"><i class="fas fa-check"></i></th>
                                                <th scope="col " style=" background-color: #00448d;border-color: #00448d; color:white">Fecha
                                                </th>
                                                <th scope="col " style=" background-color:#00448d;border-color: #00448d; color:white">
                                                    Descripción </th>
                                                <th scope="col " style=" background-color:#00448d;border-color: #00448d; color:white">Referencia
                                                </th>
                                                <th scope="col " style=" background-color: #00448d;border-color:#00448d; color:white">Monto</th>
                                                <th scope="col " style=" background-color: #00448d;border-color:#00448d; color:white">Moneda
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><input type="checkbox"></td>
                                                <td>2019/04/01</td>
                                                <td>Compra</td>
                                                <td>123</td>
                                                <td>$200,000.00</td>
                                                <td>COP</td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox"></td>
                                                <td>2019/04/05</td>
                                                <td>Abono </td>
                                                <td>124</td>
                                                <td>$500.00</td>
                                                <td>COP</td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox"></td>
                                                <td>2019/04/10</td>
                                                <td>Retiro sucursal</td>
                                                <td>125</td>
                                                <td>$100,000.00</td>
                                                <td>COP</td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox"></td>
                                                <td>2019/04/15</td>
                                                <td>Compra Falabella</td>
                                                <td>126</td>
                                                <td>$150,000.00</td>
                                                <td>COP</td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox"></td>
                                                <td>2019/04/20</td>
                                                <td>GMF</td>
                                                <td>127</td>
                                                <td>$-252.00</td>
                                                <td>COP</td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox"></td>
                                                <td>2019/04/20</td>
                                                <td>GMF</td>
                                                <td>127</td>
                                                <td>$-252.00</td>
                                                <td>COP</td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox"></td>
                                                <td>2019/04/20</td>
                                                <td>GMF</td>
                                                <td>127</td>
                                                <td>$-252.00</td>
                                                <td>COP</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#/transacciones-conciliacion-bancaria" tabindex="-1">Previous</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#/transacciones-conciliacion-bancaria">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#/transacciones-conciliacion-bancaria">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#/transacciones-conciliacion-bancaria">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#/transacciones-conciliacion-bancaria">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div><br>
                        </div>
                    </div>

                    <div>
                        <button mat-button matStepperPrevious>
              <mat-icon>keyboard_arrow_left</mat-icon> Atrás
            </button>
                        <button mat-button (click)="stepper.reset()">Volver a empezar</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>

    </div>
</div>

<ng-template #content let-modal>

    <div class="modal-header" style="background-color: #EEEEEE;width: 180%;height:200% ; position: relative;left: -40%;">
        <h4 class="modal-title" id="modal-basic-title">Prueba de concepto API Conciliación</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
      <br>
    </button>
    </div>

    <div class="modal-body" style="background-color:  #EEEEEE;width: 180%;position: relative;left: -40%;">


    </div>

    <!--   <div class="modal-footer" style="background-color:  #EEEEEE;width: 180%;position: relative;left: -40%;">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        <br>
    </div> -->


</ng-template>