<br>
<div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 301%;position: relative;left: -100%">
        <div class="modal-header">
            <h5 class="modal-title">Prueba de concepto API Saldos y Movimientos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="volverPortalConciliacion()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body">

            <!-- Comentario al inicio de la PoC -->
            <p style="font-family: 'OpenSans', sans-serif;
font-size: 12px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.5;
letter-spacing: -0.3px;
text-align: justify;
color: #808285;">*Esta es una muestra representativa de las funcionalidades que puede tener está API, sin embargo no garantiza que los aliados/consumidores lo implementen de la misma forma.</p>

            <mat-horizontal-stepper [linear]="isLinear" #stepper>

                <mat-step>
                    <p style="font-family: 'OpenSans', sans-serif;
font-size: 12px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.5;
letter-spacing: -0.3px;
text-align: justify;
color: #808285;">El usuario final debe seleccionar un banco para empezar el proceso de conciliación.</p>
                    <ng-template matStepLabel>Seleccione su banco</ng-template>
                    <form>
                        <h4 style="display: flex; justify-content: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold">
                            Sus bancos:</h4><br>
                        <div class="container-consulta-lote" style="display: flex; justify-content: center">
                            <form>
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button value="1">Bancolombia</mat-radio-button>

                                </mat-radio-group>
                            </form>
                        </div>



                    </form>
                    <div>

                        <button mat-button matStepperNext color="primary" style="margin-top: 100px;">Siguiente <mat-icon
                color="primary">keyboard_arrow_right</mat-icon></button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                        <p style="font-family: 'OpenSans', sans-serif;
font-size: 12px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.5;
letter-spacing: -0.3px;
text-align: justify;
color: #808285;">Los campos deben ser diligenciados por el usuario final.</p>
                        <ng-template matStepLabel>Inicio de sesión portal Bancolombia</ng-template>
                        <img src="./assets/img/icon_banco.png" style="width: 15%;height: 15%;position: relative;left: -10%;" alt="Card image cap">
                        <p style="font-size: 15px;font-family: 'Nunito';font-weight: 500;color:black;position: relative;left: 32.5%;top:5px">
                            Surcursal Virtual Personas</p>
                        <br>



                        <div style="background-color:#788FB9;width: 35%;height: 30px; ;position: relative;left: 32%; border: 1px solid #A6B3D1;">
                            <p style="font-size: 18px;font-family: 'Nunito';font-weight: 600;color: white;position: relative;left: 2%;">
                                Usuario</p>
                        </div>
                        <div style="background-color: #D2D9E8;width: 35%;height: 40px; ;position: relative;left: 32%;top: 0px; border: 1px solid #A6B3D1;">
                            <p style="font-size: 13px;font-family: 'Nunito';font-weight: 500;color: #434343;position: relative;left: 2%;">
                                Si no tienes un usuario asignado ingresa con tu documento de identidad.</p>
                        </div>
                        <div class="container-login" style="display: flex; justify-content: center">
                            <form>

                                <!-- <h4 style=" display: flex; justify-content: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold ">Autenticación</h4><br> -->

                                <br>
                                <div class="form-group row ">
                                    <div class="col-md-12 ">
                                        <input id="password " name="password " type="text " class="form-control " placeholder="USUARIO " required>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <div class="col-md-12 ">
                                        <input id="password " name="password" type="password" class="form-control " placeholder="CLAVE " value={{result}} required>

                                    </div>
                                </div><br>
                                <span class="col-sm-15 ">
                  <button mat-button matStepperNext class="btn btn-primary btn-sm " type="submit " name="login "
                    value="true"
                    style="background-color:#A6B3D1;width:35%;height:16%;position:relative;top:-10px;">Entrar</button>
                  <button class="btn btn-secondary btn-sm " type="submit " name="approve " value="false"
                    style="color:black;background-color:white;border:1px solid #A6B3D1;position:relative;top:-10px;width:35%;height:16%;margin: 5px;">Cancelar</button>
                </span>
                            </form>
                        </div>
                        <div>

                            <mat-button-toggle-group #group1="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-255px;left:34.3%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="getNumber5()" value={{number5}}>5</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group #group2="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-255px;left:34.6%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="getNumber9()" value={{number9}}>9</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group #group3="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-255px;left:34.9%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="getNumber3()" value={{number3}}>3</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group #group4="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-255px;left:35.2%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="getNumber0()" value={{number0}}>0</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group #group5="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-202px;left:24.5%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="getNumber7()" value={{number7}}>7</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group #group6="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-202px;left:24.8%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="getNumber8()" value={{number8}}>8</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group #group7="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-202px;left:25.1%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="getNumber4()" value={{number4}}>4</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group #group8="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-202px;left:25.4%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="getNumber2()" value={{number2}}>2</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group #group9="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-148.5px;left:14.7%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="getNumber6()" value={{number6}}>6</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group #group10="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-148.5px;left:15%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="getNumber1()" value={{number1}}>1</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group #group10="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" style="position:relative;top:-148.5px;left:15.3%;border:1px solid #A6B3D1;background-color:#E8EAF6">
                                <mat-button-toggle (click)="deletePassword()">Borrar</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </form>
                    <div>
                        <button mat-button matStepperPrevious style="margin-top: 100px;">
              <mat-icon>keyboard_arrow_left</mat-icon> Atrás
            </button>
                        <button mat-button matStepperNext color="primary" style="margin-top: 65px;">Siguiente <mat-icon
                color="primary">keyboard_arrow_right</mat-icon></button>
                    </div>
                </mat-step>

                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">

                        <ng-template matStepLabel>Terminos y condiciones</ng-template>
                        <div class="modal-content" style="text-align: justify">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLongTitle" style="font-family: 'Nunito', sans-serif;font-weight: bold; text-align: center">Términos y Condiciones
                                </h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                            </div>
                            <div class="modal-body pt-5 pt-md-3">
                                <div>
                                    <!-- <p><strong>Términos y condiciones para realizar una conciliación</strong></p> -->
                                    <ul>

                                        <li>Recuerde que nunca se solicitara información confidencial personal o financiera por medio de correo electrónico o en la plataforma de Capital Inteligente, como usuarios, claves, números de tarjetas de crédito, fechas
                                            de vencimiento y códigos de seguridad.&#8203;&#8203;&#8203;</li>
                                        <li> Al aceptar los términos y condiciones, usted&nbsp;<strong>acuerda y reconoce que todo el
                        contenido de Capital Inteligente es propiedad de Bancolombia y de terceros que actúan bajo las
                        instrucciones de Bancolombia.</strong>&nbsp;
                                        </li>
                                        <li> Lo anterior abarca todos los elementos que lo integran o lo componen, incluyendo a título meramente enunciativo y no taxativo, los derechos intelectuales derivados de la programación y diseño del sitio y sus plataformas,
                                            sitios y programas electrónicos, el “look & feel”, su edición, los &nbsp;<strong>logotipos,
                        imágenes, videos, lenguaje de programación, códigos, textos, gráficos, conceptos, cuadros,
                        archivos de audio y video, y en general cualquier elemento asociado a todo el
                        contenido.</strong></li>
                                        <li> Queda estrictamente prohibido que utilice, copie o reproduzca de forma total o parcial el contenido por cualquier medio.</li>
                                        <li> Asimismo, queda prohibido distribuir, reproducir, publicar, transmitir, traducir, vender o disponer de manera alguna todo o parte del contenido ya sea a título oneroso o gratuito, cualquiera sea la modalidad o el
                                            medio.&#8203;
                                        </li>
                                        <li><strong>Usted se obliga a no adquirir ni a hacer suyos los elementos anteriormente referidos, ni
                        a hacer suya cualquier derivación, adaptación o variación de los mismos.</strong>&nbsp;En caso de incumplir las presentes condiciones, usted se obliga a mantener indemne a Bancolombia y los dueños de la propiedad intelectual del
                                            contenido, frente a toda responsabilidad de cualquier naturaleza. &#8203;</li>

                                    </ul>
                                </div>
                                <span class="modal-footer col-sm-8">
                  <button mat-button matStepperNext type="button" class="btn btn-secondary btn-small"
                    data-dismiss="modal"
                    style="background-color:#A6B3D1;color:black;position: relative; left:-15%; width: 20%;height: 30px;">Aceptar</button>
                </span>
                            </div>
                        </div>


                    </form>
                    <div>
                        <button mat-button matStepperPrevious style="margin-top: 120px;">
              <mat-icon>keyboard_arrow_left</mat-icon>Atrás
            </button>
                        <button mat-button matStepperNext color="primary" style="margin-top: 65px;">Siguiente <mat-icon
                color="primary">keyboard_arrow_right</mat-icon></button>
                    </div>
                </mat-step>
                <mat-step>
                    <form>
                        <p style="font-family: 'OpenSans', sans-serif;
                      font-size: 12px;
                      font-weight: normal;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: 1.5;
                      letter-spacing: -0.3px;
                      text-align: justify;
                      color: #808285;">Los campos deben ser diligenciados por el usuario final.</p>
                        <ng-template matStepLabel>Listar Cuentas</ng-template>

                        <h4 style="display: flex; justify-content: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold">
                            Selecciona la cuenta a conciliar</h4><br>
                        <div class="container-consulta-lote" style="display: flex; justify-content: center">
                            <form>
                                <br>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <mat-label id="label1" style="display: flex;">Tipo de documento de identidad:
                                        </mat-label>
                                        <input id="documento" name="password" type="text" class="form-control" placeholder="" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <mat-label id="label1" style="display: flex;">Número de documento de identidad:
                                        </mat-label>
                                        <input id="password" name="password" type="text" class="form-control" placeholder="" required>
                                    </div>
                                </div><br>
                                <span class="col-sm-15">

                  <button class="btn btn-secondary btn-sm" type="submit" name="approve" data-toggle="collapse"
                    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                    style="background-color:#A6B3D1 ;color:#292929">Consultar</button>
                </span><br><br><br>
                            </form>
                        </div>
                        <div class="col-15">
                            <div class="tab-content" id="nav-tabContent">
                                <div style=" font-family: 'Nunito', sans-serif;" class="collapse" id="collapseExample" role="collpase" aria-labelledby="list-first-list">
                                    <br>

                                    <div style="display: flex; justify-content: left;">
                                        <div class="col-12">
                                            <!--table-->
                                            <table class="table table-striped table-responsive" style="position: relative;left: 24%;">
                                                <thead>
                                                    <tr>

                                                        <th scope="col">Tipo identificación</th>
                                                        <th scope="col">N° identificación</th>
                                                        <th scope="col">Tipo de cuenta</th>
                                                        <th scope="col">N° cuenta</th>
                                                        <th scope="col">Seleccione una cuenta</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>


                                                        <td>Cédula</td>
                                                        <td>12871415</td>
                                                        <td>Corriente</td>
                                                        <th scope="row">***454</th>
                                                        <td>
                                                            <input type="radio" id="customRadio1" name="customRadio">
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td>Cédula</td>
                                                        <td>12871415</td>
                                                        <td>Ahorros</td>
                                                        <th scope="row">***454</th>
                                                        <td><input type="radio" id="customRadio1" name="customRadio"></td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="position: relative; left:2%;">

                            <button mat-button matStepperPrevious style="margin-top: 120px;">
                <mat-icon>keyboard_arrow_left</mat-icon>Atrás
              </button>
                            <button mat-button matStepperNext color="primary" style="margin-top: 120px;">Siguiente <mat-icon
                  color="primary">keyboard_arrow_right</mat-icon></button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>

                    <ng-template matStepLabel>Autorización</ng-template>
                    <form>
                        <br>
                        <div class="modal-content" style="text-align: justify">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLongTitle" style="font-family: 'Nunito', sans-serif;font-weight: bold; text-align: center">Autorización</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                            </div>
                            <div class="modal-body pt-5 pt-md-3">
                                <div>
                                    <!-- <p><strong>Términos y condiciones para realizar una conciliación</strong></p> -->
                                    <ul>

                                        <li>Autoriza que se entregue la información de la cuenta ***454 al tercero Alegra &#8203;&#8203;&#8203;
                                        </li>

                                    </ul>
                                </div>
                                <span class="modal-footer col-sm-8">
                  <button mat-button matStepperNext type="button" class="btn btn-secondary btn-small"
                    data-dismiss="modal"
                    style="background-color:#A6B3D1;color:black;position: relative; left:-15%; width: 20%;height: 30px;">Aceptar</button>
                </span>
                            </div>
                        </div>



                    </form>
                    <div>
                        <button mat-button matStepperPrevious style="margin-top: 120px;">
              <mat-icon>keyboard_arrow_left</mat-icon>Atrás
            </button>
                        <button mat-button matStepperNext color="primary" style="margin-top: 100px;">Siguiente <mat-icon
                color="primary">keyboard_arrow_right</mat-icon></button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Consultar Saldos</ng-template>
                    <form>
                        <h4 style="display: flex; justify-content: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold">
                            Consulta el saldo de tu cuenta </h4><br>
                        <div class="container-consulta-lote" style="display: flex; justify-content: center">
                            <form>
                                <br>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <mat-label id="label1" style="display: flex;">Cuenta tipo:
                                        </mat-label>
                                        <input id="documento" name="password" type="text" class="form-control" placeholder="" required value="Ahorros">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <mat-label id="label1" style="display: flex;">No. de cuenta:
                                        </mat-label>
                                        <input id="password" name="password" type="text" class="form-control" placeholder="" required value="***454">
                                    </div>
                                </div>
                                <!--  <div class="form-group row">
                                    <div class="col-md-12">
                                        <input id="password" name="password" type="text" class="form-control" placeholder="CÓDIGO DEL LOTE" required>
                                    </div>
                                </div> -->
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <mat-label id="label1" style="display: flex;">Fecha inicial:
                                        </mat-label>
                                        <input id="password" name="password" type="date" class="form-control" placeholder="" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <mat-label id="label1" style="display: flex;">Fecha final:
                                        </mat-label>
                                        <input id="password" name="password" type="date" class="form-control" placeholder="" required>
                                    </div>
                                </div>


                                <br>
                                <span class="col-sm-15">
                  <button class="btn btn-secondary btn-sm" type="submit" name="approve" data-toggle="collapse"
                    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                    style="background-color:#A6B3D1;color:black;">Consultar</button>
                </span><br>
                            </form>
                        </div>
                        <div style=" font-family: 'Nunito', sans-serif;" class="collapse" id="collapseExample" role="collpase" aria-labelledby="list-first-list">
                            <br>

                            <div style="display: flex; justify-content: left;">
                                <div class="col-12">
                                    <!--table-->
                                    <table class="table table-striped table-responsive" style="position: relative;left: 33%;">
                                        <thead>
                                            <tr>

                                                <th scope="col">Fecha inicial</th>
                                                <th scope="col">Saldo inicial</th>
                                                <th scope="col">Fecha final</th>
                                                <th scope="col">Saldo final</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>09/03/20</td>
                                                <td>$100,000.00</td>
                                                <td>28/03/20</td>
                                                <td>$500,000.00</td>


                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>





                    </form>
                    <div>
                        <button mat-button matStepperPrevious style="margin-top: 100px;">
              <mat-icon>keyboard_arrow_left</mat-icon> Atrás
            </button>
                        <button mat-button matStepperNext color="primary" style="margin-top: 100px;">Siguiente <mat-icon
                color="primary">keyboard_arrow_right</mat-icon></button>
                    </div>
                </mat-step>
                <mat-step>
                    <p style="font-family: 'OpenSans', sans-serif;
                  font-size: 12px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.5;
                  letter-spacing: -0.3px;
                  text-align: justify;
                  color: #808285;">El tipo y No. de la cuenta del usuario final son obtenidos al realizar la consulta de saldos. Los demás campos deben ser diligenciados por el usuario final. Además, la "plataforma ABC" es una referencia hacia la plataforma del aliado.
                    </p>
                    <ng-template matStepLabel>Consultar Movimientos</ng-template>

                    <!---<a id="list-first-list" data-toggle="list" href="#list-first" role="tab" aria-controls="first" style="color:#808285;text-decoration-line: underline;cursor:pointer">Cuenta de Ahorros</a> -->
                    <div style=" font-family: 'Nunito', sans-serif;" class="tab-pane " id="list-first" role="tabpanel" aria-labelledby="list-first-list">
                        <h4 style="display: flex; justify-content: center; color:#00448d; font-family: 'Nunito', sans-serif;font-weight: bold">
                            Consulta tus transacciones</h4>
                        <br>
                        <div class="col-sm-7">
                            <ul>
                                <li>
                                    Tipo de cuenta: Cuenta de ahorros
                                </li>
                                <li>
                                    Número de la cuenta: 24500213454
                                </li>

                                <br>
                                <h6><u>Busca tus transacciones</u></h6>
                                <p style="color: #808080; font-size: 14px;">Elige un rango de fechas para ver tus transacciones con Bancolombia y plataformaABC</p>
                            </ul>
                        </div>

                        <div style="display: flex; justify-content: left;">
                            <div class="col-sm-8">
                                <br><label style="position: relative; left: -38%;">Fecha inicial </label> <input class="form-control" type="date" style="width: 25%;"> <label style="position: relative; left: -38%;top:12px">Fecha
                  final</label>
                                <input class="form-control" type="date" style="width: 25%;position: relative;top:15px"><br>
                                <button type="submit" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="background-color:#A6B3D1;color:black;position: relative; top:-45px">Consultar</button>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExample">
                            <h4 style="display: flex; justify-content: center; color:#00448d; font-family: 'Nunito', sans-serif;font-weight: bold">
                                Información Transaccional</h4>
                            <br>
                            <p class="descripcion">
                                Funcionalidad que permite consultar las transacciones realizadas en un periodo de tiempo determinado en una de las cuentas depósito o corriente de un cliente del Banco. A continuación encontrará la información transaccional de plataformaABC y Bancolombia
                                en el rango de fechas proporcionado.
                            </p><br><br>


                            <br>
                            <h4 style="display: flex; justify-content: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold;position: relative;left:-24%">
                                Transacciones plataformaABC</h4>
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 45%;position: relative;left:3%">

                                <!-- Checkbox Column -->
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>

                                <!-- Fecha transacción Column -->
                                <ng-container matColumnDef="fechatransaccion">
                                    <th mat-header-cell *matHeaderCellDef> Fecha transacción </th>
                                    <td mat-cell *matCellDef="let element"> {{element.fechatransaccion}} </td>
                                </ng-container>

                                <!-- Fecha contable Column -->
                                <ng-container matColumnDef="fechacontable">
                                    <th mat-header-cell *matHeaderCellDef> Fecha contable </th>
                                    <td mat-cell *matCellDef="let element"> {{element.fechacontable}} </td>
                                </ng-container>

                                <!-- Nombre Column -->
                                <ng-container matColumnDef="nombre">
                                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                </ng-container>

                                <!-- Referencia Column -->
                                <ng-container matColumnDef="referencia">
                                    <th mat-header-cell *matHeaderCellDef> Referencia </th>
                                    <td mat-cell *matCellDef="let element"> {{element.referencia}} </td>
                                </ng-container>

                                <!-- Tipo de cuenta Column -->
                                <ng-container matColumnDef="tipodecuenta">
                                    <th mat-header-cell *matHeaderCellDef> Tipo de cuenta </th>
                                    <td mat-cell *matCellDef="let element"> {{element.tipodecuenta}} </td>
                                </ng-container>

                                <!-- Valor Column -->
                                <ng-container matColumnDef="Valor">
                                    <th mat-header-cell *matHeaderCellDef> Valor </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Valor}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                                </tr>
                            </table>

                            <h4 style="display: flex; justify-content: center; color:#58595b; font-family: 'Nunito', sans-serif;font-weight: bold;position: relative;left:22%;top:-429px">
                                Transacciones Bancolombia</h4>
                            <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8" style="width: 45%;position: relative;left:50%;top:-429px">

                                <!-- Checkbox Column -->
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? masterToggle2() : null" [checked]="selection2.hasValue() && isAllSelected2()" [indeterminate]="selection2.hasValue() && !isAllSelected2()" [aria-label]="checkboxLabel2()">
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection2.toggle(row) : null" [checked]="selection2.isSelected(row)" [aria-label]="checkboxLabel2(row)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>

                                <!-- Fecha transacción Column -->
                                <ng-container matColumnDef="fechatransaccion">
                                    <th mat-header-cell *matHeaderCellDef> Fecha transacción </th>
                                    <td mat-cell *matCellDef="let element"> {{element.fechatransaccion}} </td>
                                </ng-container>

                                <!-- Fecha contable Column -->
                                <ng-container matColumnDef="fechacontable">
                                    <th mat-header-cell *matHeaderCellDef> Fecha contable </th>
                                    <td mat-cell *matCellDef="let element"> {{element.fechacontable}} </td>
                                </ng-container>

                                <!-- Nombre Column -->
                                <ng-container matColumnDef="nombre">
                                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                </ng-container>

                                <!-- Referencia Column -->
                                <ng-container matColumnDef="referencia">
                                    <th mat-header-cell *matHeaderCellDef> Referencia </th>
                                    <td mat-cell *matCellDef="let element"> {{element.referencia}} </td>
                                </ng-container>

                                <!-- Tipo de cuenta Column -->
                                <ng-container matColumnDef="tipodecuenta">
                                    <th mat-header-cell *matHeaderCellDef> Tipo de cuenta </th>
                                    <td mat-cell *matCellDef="let element"> {{element.tipodecuenta}} </td>
                                </ng-container>

                                <!-- Valor Column -->
                                <ng-container matColumnDef="Valor">
                                    <th mat-header-cell *matHeaderCellDef> Valor </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Valor}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                                </tr>
                            </table>
                            <button matStepperNext type="submit" class="btn btn-secondary" aria-expanded="false" style="background-color:#A6B3D1;color:black;position: relative; top:-350px">Realizar Conciliación</button>

                        </div>
                    </div>

                    <div>
                        <button mat-button matStepperPrevious>
              <mat-icon>keyboard_arrow_left</mat-icon> Atrás
            </button>
                        <button mat-button matStepperNext color="primary" style="margin-top: 100px;">Siguiente <mat-icon
              color="primary">keyboard_arrow_right</mat-icon></button>
                    </div>
                </mat-step>
                <mat-step>

                    <ng-template matStepLabel>Mensaje Exitoso</ng-template>
                    <form>

                        <div class="alert alert-success" role="alert" style="width: 50%;position: relative;left: 23%;">
                            <p>
                                <mat-icon style="font-size: 40px;position: relative;left: 46%;">check_circle_outline</mat-icon>
                            </p>
                            <h4 class="alert-heading" style="text-align: center;font-weight:600">Felicitaciones</h4>
                            <p style="text-align: center;">¡La conciliación de la 2019/04/01 a la 2019/04/20 fue exitosa!</p>
                            <hr>
                        </div>


                    </form>
                    <div>
                        <button mat-button matStepperPrevious>
                      <mat-icon>keyboard_arrow_left</mat-icon> Atrás
                    </button>
                        <button mat-button (click)="stepper.reset()">Volver a empezar</button>

                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>

    </div>
</div>

<ng-template #content let-modal>

    <div class="modal-header" style="background-color: #EEEEEE;width: 180%;height:200% ; position: relative;left: -40%;">
        <h4 class="modal-title" id="modal-basic-title">Prueba de concepto API Saldos y Movimientos</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
      <br>
    </button>
    </div>

    <div class="modal-body" style="background-color:  #EEEEEE;width: 180%;position: relative;left: -40%;">


    </div>

    <!--   <div class="modal-footer" style="background-color:  #EEEEEE;width: 180%;position: relative;left: -40%;">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        <br>
    </div> -->


</ng-template>
